{% extends 'store_register/base.html' %}
{% load staticfiles %}
{% block content %}
{% include 'api/common_js.html' %}

<div class="wrapper login-body">
    <div class="block-center mt-xl wd-xl register-panel">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat text-left">
            <a href="login.html">
            <img src="{% static "inventory/img/logo-rect.png" %}" alt="Image" class="block-center cc-logo-rect">
            </a>
            
            <div class="panel-body">
                <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                    <fieldset class="col-sm-12 br">
                        <legend class="text-muted mb0">User Info</legend>
                        <div class="form-group has-feedback">
                            <label for="signupInputEmail1" class="text-muted">Email address</label>
                            {{ user_form.email }}
                        </div>
                        <div class="form-group mt-lg">
                            <label for="signupInputCompanyOwnerFirstName" class="text-muted">First Name</label>
                            {{ user_form.first_name }}
                        </div>
                        <div class="form-group mt-lg">
                            <label for="signupInputCompanyOwnerLastName" class="text-muted">Last Name</label>
                            {{ user_form.last_name }}
                        </div>
                        <div class="form-group mt-lg has-feedback">
                            <label for="signupInputPassword1" class="text-muted">Password</label>
                            {{ user_form.password }}
                        </div>
                        <div class="form-group mt-lg has-feedback">
                            <label for="signupInputRePassword1" class="text-muted">Retype Password</label>
                            {{ user_form.password_repeated }}
                        </div>
                    </fieldset>
                    <fieldset class="col-sm-12 mb0 pb0">
                        <div class="clearfix"></div>
                        <hr/>
                        <div class="checkbox c-checkbox pull-left m0 p0 col-sm-12">
                            <div data-alerts="alerts"></div>
                            <div class="col-sm-4 pull-right">
                                <button onclick="ajax_submit();"
                                           type="button"
                                          class="pull-right btn btn-block btn-primary" >Create account
                                </button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <!-- END panel-->
        <div class="p-lg text-center">
            <span>&copy;</span>
            <span>2015</span>
            <span>-</span>
            <span>Comics Cantina</span>
        </div>
    </div>
</div>
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });

    function ajax_submit()
    {
        // STEP 1: Register the user account in our system. Once the user
        //         is registered we will receive a 'user_id' value to use.
        ajax_new_user(
            function(user_id) {
                // STEP 2: Login into our portal for editing customer information.
                ajax_login(
                    $('#id_email').val(),
                    $('#id_password').val(),
                    function(json_result) {
                        // STEP 2: Load the next page which involves editing
                        //         the billing and shipping information.
                        window.location = '/{% if org != None %}{{ org.org_id }}/{% endif %}{% if store != None %}{{ store.store_id }}/{% endif %}store/register/step2';
                    },
                    function(json_error) {
                        $(document).trigger("add-alerts",[{
                            'message': json_error,
                            'priority': 'error'
                        }]);
                    }
                )
            },
            function(json_error){
                console.log(json_error);
            }
        ); 
    }

    function ajax_new_user(success_callback, error_callback) {
        // STEP 1:
        // Create our 'auth_users' object.
        $.ajax( '/user/settings/register', {
           data: {
               'first_name': $('#id_first_name').val(),
               'last_name': $('#id_last_name').val(),
               'email': $('#id_email').val(),
               'username': $('#id_email').val(),
               'old_password': $('#id_old_password').val(),
               'password': $('#id_password').val(),
               'password_repeated': $('#id_password_repeated').val(),
               'groups': ''
           },
           type: 'post',
           success: function(result) { // success code execution here
               // Did not succeed.
               if (result.status != 'success')
               {
                   $(document).trigger("add-alerts",[{
                       'message': result.message,
                       'priority': 'error'
                   }]);
               }
               else
               {
                   success_callback(result.user_id);
               }
           },
           error: function(xhr,status,error) {
               // error code here
               $(document).trigger("add-alerts",[{
                    'message': status,
                    'priority': 'error'
               }]);
               error_callback(error);
           },
           complete: function(xhr,status) {
               // completion code here
           }
        });
    }

    function ajax_login(username, password, success_callback, error_callback) {
        var url = '/store/login_authentication';
        $.ajax( url, {
            data: {
                'username': username,
                'password': password
            },
            type: 'post',
            success: function(json_result) {
               // success code execution here
               if (json_result.status == "success")
               {
                   success_callback();
               }
               else
               {
                   error_callback('Error - Wrong email or password.');
               }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                   // completion code here
            }
        });
    }

</script>
{% endblock content %}