{% load staticfiles %}
<script>
    $(document).ready(function(){
        $('#login-btn').on('click', function(){
            $(document).trigger("clear-alerts");
                           
            $('#login-email-error, #login-password-error').val('');
            if( $('#id_email').val() == "" || $('#id_password').val() == "" ){
                // Add error notification.
                $(document).trigger("add-alerts",[{
                    'message':'Error! Username and password required.',
                    'priority':'error'
                }]);
            } else {
                ajax_inventory_authenticate();
            }
        });
    });

    
    /**
     * Source: http://stackoverflow.com/a/2507043
     */
    function is_email(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
    
    function ajax_inventory_authenticate()
    {
        var email = $("#id_email").val();
        var password = $("#id_password").val();
        
        // Defensive Code: Verify that the email/username is a valid email
        //                 address before proceeding.
        if (!is_email(email)) {
            // Add error notification.
            $('#login-email-error, #login-password-error').val('');
            $(document).trigger("add-alerts",[{
                'message':'Not valid email - please enter a valid email.',
                'priority':'error'
            }]);
            return;
        }
        
        var url = 'login_authentication';
    
        $.ajax( url, {
            data: {
                'username': email,
                'password': password,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'post',
            success: function(json_result) {
                // success code execution here
                if (json_result.status == "success")
                {
                    $(document).unbind("keypress.key13");
                    window.location = '/inventory/'+json_result.org_id+'/'+json_result.store_id+'/dashboard';
                }
                else
                {
                   $('#login-email-error, #login-password-error').val('');
                   $(document).trigger("add-alerts",[{
                        'message':'Error - Wrong email or password.',
                        'priority':'error'
                   }]);
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
            }
        });
    }

</script>