{% load staticfiles %}
<script>
    /**
     * When the 'Enter' key is pressed, lets try login in.
     */
    $(document).bind("keypress.13", function(event) {
        if ($('#login_modal').is(':visible')) {
            if (event.which == 13) {
                ajax_inventory_authenticate();
            }
        }
    });
    
    function ajax_inventory_authenticate()
    {
        var url = 'login_authentication';
    
        $.ajax( url, {
            data: {
                'username': $("#id_email").val(),
                'password': $("#id_password").val(),
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'post',
            success: function(json_result) {
                // success code execution here
                if (json_result.status == "success")
                {
                    $(document).unbind("keypress.key13");
                    window.location = '/inventory/'+json_result.org_id+'/'+json_result.store_id+'/dashboard';
                }
                else
                {
                    alert(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
            }
        });
    }

</script>