{% load staticfiles %}
<script>
    /**
     * When the 'Enter' key is pressed, lets try login in.
     */
    $(document).bind("keypress.13", function(event) {
        if ($('#login_modal').is(':visible')) {
            if (event.which == 13) {
                ajax_inventory_authenticate();
            }
        }
    });
    
    /**
     * Source: http://stackoverflow.com/a/2507043
     */
    function is_email(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }
    
    function ajax_inventory_authenticate()
    {
        var email = $("#id_email").val();
        var password = $("#id_password").val();
        
        // Defensive Code: Verify that the email/username is a valid email
        //                 address before proceeding.
        if (!is_email(email)) {
            alert("Not valid email - please enter a valid email.");
            return;
        }
        
        var url = 'login_authentication';
    
        $.ajax( url, {
            data: {
                'username': email,
                'password': password,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            type: 'post',
            success: function(json_result) {
                // success code execution here
                if (json_result.status == "success")
                {
                    $(document).unbind("keypress.key13");
                    window.location = '/inventory/'+json_result.org_id+'/'+json_result.store_id+'/dashboard';
                }
                else
                {
                    alert(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
            }
        });
    }

</script>