<li class="tab product-type dropdown pull-right" style="padding:0;background-color:#27C24C !important;border-right:1px solid #fff;" role="presentation">
    <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button" style="display:block;padding:10px 20px;">
        Add selected to category
        <span class="caret"></span>
    </a>
    
    <ul class="dropdown-menu">
        <li><a href="#">Category A</a></li>
        <li><a href="#">Category A -> Category B</a></li>
        <li><a href="#">Category C -> Category D</a></li>
        <li><a href="#">Category C -> Category E -> Category F</a></li>
        <li><a href="#">Category G -> Category H</a></li>
    </ul>
</li>
</ul>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
<div class="panel-body panel-body-main">
    <div id="search-issues-list" class="inventory-search-list inventory-list" style="border:1px solid #ddd;border-bottom:0;">
        <div id="list-filter-bar" class="clearfix navbar-inverse" style="background-color:#eee;width:100%;border-bottom:1px solid rgb(207,219,226);">
            <div class="pull-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="margin:3px;margin-right:3px;" data-toggle="dropdown" aria-expanded="false">
                        Sort By&nbsp;&nbsp;<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Product Name<em class="fa fa-sort-alpha-asc" style="top:2px;"></em></a></li>
                        <li><a href="#">Brand</a></li>
                        <li><a href="#">Product Type</a></li>
                        <li><a href="#"># in Stock</a></li>
                        <li><a href="#">Price</a></li>
                    </ul>
                </div>
            </div>
            <div class="pull-right;" style="float:right;">
                <div class="input-group input-group-sm pull-right" style="width:400px;margin-top:3px;margin-right:10px;">
                    <input class="form-control" placeholder="Search for..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" style="margin-top:0px;">Search
                                Products
                            </button>
                        </span>
                        </div>
                <!-- /input-group -->
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <!-- end filter search boxes -->
    

                
                <tr>
                    <td style="text-align:center;">
                        <img class="product-image center-block" alt="product-title" src="img/inventory/test-images/batman-5.jpg" width="50">
                            </td>
                    <td>Product Name</td>
                    <td>Brand</td>
                    <td>Type</td>
                    <td>50</td>
                    <td>$100.00</td>
                    <td style="text-align:center;">
                        <button style="margin-bottom:5px;" type="button" class="btn btn-success btn-add-cart btn-labeled">
                            <span class="btn-label"><i class="fa fa-plus-square"></i></span>Add To Cart
                        </button>
                        <button style="vertical-align: middle;" type="button" class="btn btn-primary btn-view-details btn-labeled">
                            <span class="btn-label"><i class="fa fa-edit"></i></span>View Details
                        </button>
                    </td>
                    <td style="text-align:center;">
                        <div style="margin-left:auto;margin-right:auto;" class="checkbox c-checkbox">
                            <label><input type="checkbox"><span class="fa fa-check"></span></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <img class="product-image center-block" alt="product-title" src="img/inventory/test-images/batman-5.jpg" width="50">
                            </td>
                    <td>Product Name</td>
                    <td>Brand</td>
                    <td>Type</td>
                    <td>50</td>
                    <td>$100.00</td>
                    <td style="text-align:center;">
                        <button style="margin-bottom:5px;" type="button" class="btn btn-success btn-add-cart btn-labeled">
                            <span class="btn-label"><i class="fa fa-plus-square"></i></span>Add To Cart
                        </button>
                        <button style="vertical-align: middle;" type="button" class="btn btn-primary btn-view-details btn-labeled">
                            <span class="btn-label"><i class="fa fa-edit"></i></span>View Details
                        </button>
                    </td>
                    <td style="text-align:center;">
                        <div style="margin-left:auto;margin-right:auto;" class="checkbox c-checkbox">
                            <label><input type="checkbox"><span class="fa fa-check"></span></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <img class="product-image center-block" alt="product-title" src="img/inventory/test-images/batman-5.jpg" width="50">
                            </td>
                    <td>Product Name</td>
                    <td>Brand</td>
                    <td>Type</td>
                    <td>50</td>
                    <td>$100.00</td>
                    <td style="text-align:center;">
                        <button style="margin-bottom:5px;" type="button" class="btn btn-success btn-add-cart btn-labeled">
                            <span class="btn-label"><i class="fa fa-plus-square"></i></span>Add To Cart
                        </button>
                        <button style="vertical-align: middle;" type="button" class="btn btn-primary btn-view-details btn-labeled">
                            <span class="btn-label"><i class="fa fa-edit"></i></span>View Details
                        </button>
                    </td>
                    <td style="text-align:center;">
                        <div style="margin-left:auto;margin-right:auto;" class="checkbox c-checkbox">
                            <label><input type="checkbox"><span class="fa fa-check"></span></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <img class="product-image center-block" alt="product-title" src="img/inventory/test-images/batman-5.jpg" width="50">
                            </td>
                    <td>Product Name</td>
                    <td>Brand</td>
                    <td>Type</td>
                    <td>50</td>
                    <td>$100.00</td>
                    <td style="text-align:center;">
                        <button style="margin-bottom:5px;" type="button" class="btn btn-success btn-add-cart btn-labeled">
                            <span class="btn-label"><i class="fa fa-plus-square"></i></span>Add To Cart
                        </button>
                        <button style="vertical-align: middle;" type="button" class="btn btn-primary btn-view-details btn-labeled">
                            <span class="btn-label"><i class="fa fa-edit"></i></span>View Details
                        </button>
                    </td>
                    <td style="text-align:center;">
                        <div style="margin-left:auto;margin-right:auto;" class="checkbox c-checkbox">
                            <label><input type="checkbox"><span class="fa fa-check"></span></label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center;">
                        <img class="product-image center-block" alt="product-title" src="img/inventory/test-images/batman-5.jpg" width="50">
                            </td>
                    <td>Product Name</td>
                    <td>Brand</td>
                    <td>Type</td>
                    <td>50</td>
                    <td>$100.00</td>
                    <td style="text-align:center;">
                        <button style="margin-bottom:5px;" type="button" class="btn btn-success btn-add-cart btn-labeled">
                            <span class="btn-label"><i class="fa fa-plus-square"></i></span>Add To Cart
                        </button>
                        <button style="vertical-align: middle;" type="button" class="btn btn-primary btn-view-details btn-labeled">
                            <span class="btn-label"><i class="fa fa-edit"></i></span>View Details
                        </button>
                    </td>
                    <td style="text-align:center;">
                        <div style="margin-left:auto;margin-right:auto;" class="checkbox c-checkbox">
                            <label><input type="checkbox"><span class="fa fa-check"></span></label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

