{% load staticfiles %}
{% include 'api/issue.html' %}
{% include 'api/series.html' %}
{% include 'api/product.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
        
        // DYNAMIC SEARCHING (AKA AJAX SEARCHING)
        // The following code will provide all the necessary functions
        // which allow dynamic searching of comic books...
        //
        // Whenever user starts typing a textbox, start dynamically
        // making ajax calls to look up the results.
        var thread = null;
                      
        function lookupProducts() {
            var name =  $('#id_name').val();
            var brand =  $('#id_brand').val();
            var category =  $('#id_category').val();
            var tags =  $('#id_tags').val();
            var min_price =  $('#id_min_price').val();
            var max_price =  $('#id_max_price').val();
                      
            // Call our application and return results.
            ajax_search_products(name, brand, category, tags, min_price, max_price);
        }
                      
        $('#id_name').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupProducts(); }, 500);
        });
        $('#id_brand').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupProducts(); }, 500);
        });
        $('#id_category').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupProducts(); }, 500);
        });
        $('#id_tags').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupProducts(); }, 500);
        });
        $('#id_min_price').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupProducts(); }, 500);
        });
        $('#id_max_price').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupProducts(); }, 500);
        });
    });
    
    function ajax_search_products(name, brand, category, tags, min_price, max_price)
    {
        var arr = Array();
        
        if (name.length > 0) {
            arr.push({ 'name': name });
        }
        if (brand.length > 0) {
            arr.push({ 'brand_name': brand });
        }
        if (category.length > 0) {
            arr.push({ 'category_name': category });
        }
        if (min_price.length > 0) {
            arr.push({ 'min_price': min_price });
        }
        if (max_price.length > 0) {
            arr.push({ 'max_price': max_price });
        }
        if (tags.length > 0) {
            var tags_arr = tags.split(",");
            for (var i = 0; i < tags_arr.length; i++) {
                arr.push({ 'tag': tags_arr[i] });
            }
        }
        
        filter_products(arr, function(json_objects) {
            console.log(arr);
        });
        
    }
</script>