{% include 'api/imageupload.html' %}
{% include 'api/store.html' %}
{% include 'api/organization.html' %}
{% include 'api/section.html' %}
{% include 'api/common_js.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
        
        /**
         *  The following section makes the 'sections' automatically load
         *  when this page is refreshed or loaded.
         */
        ajax_refresh_sections_table();
                      
        /**
         *  The following section adds auto-complete fields for the following
         *  textfields.
         */        
    });

    // this is to upload the cover image
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
           alert('Please select an image to upload');
           return false;
        }
    
        var image = document.getElementById('id_image').files[0];
        var upload_id = $('#id_hidden_upload_id').val();
                      
        // Insert or Update.
        set_imageupload(upload_id, false, image, 0, function(json_result) {
            $('#logo-image').attr('src', json_result['image']);
            $('#id_hidden_upload_id').val(json_result['upload_id']);
        });

    }

    function ajax_suspend_store(store_id) {
        //if (store_id == {{ store.store_id }})
        //{
        //    alert("Cannot delete this store as we are currently in it!");
        //    return;
        //}
        //delete_store(store_id, function(json_result){
        //    // When this current store has been deleted then return to the main store.
        //    window.location="/inventory/{{ org.org_id }}/{{ store.store_id }}/settings/store/{{ store.store_id }}";
        //});
    }

    function ajax_save_edit(is_suspended) {
        // Create our existing employees list.
        var employees = [];
    {% for an_employee in this_store.employees.all %}
        employees.push(parseInt( {{ an_employee.employee_id }} ));
    {% endfor %}
        
        var data = {
            // Store
            'store_id': {{ this_store.store_id }},
            'organization': '{{ org.org_id }}',
            'joined': $('#id_joined').val(),
            'email': $('#id_email').val(),
            'logo': $('#id_hidden_upload_id').val(),
            'name': $('#id_name').val(),
            'description': $('#id_description').val(),
            'phone': get_phone('#id_phone'),
            'fax': get_phone('#id_fax'),
            'website': $('#id_website').val(),
            'twitter_url': $('#id_twitter_url').val(),
            'facebook_url': $('#id_facebook_url').val(),
            'instagram_url': $('#id_instagram_url').val(),
            'linkedin_url': $('#id_linkedin_url').val(),
            'github_url': $('#id_github_url').val(),
            'google_url': $('#id_google_url').val(),
            'youtube_url': $('#id_youtube_url').val(),
            'flickr_url': $('#id_flickr_url').val(),
            'street_number': $('#id_street_number').val(),
            'street_name': $('#id_street_name').val(),
            'unit_number': $('#id_unit_number').val(),
            'city': $('#id_city').val(),
            'country': $('#id_country').val(),
            'province': $('#id_province').val(),
            'postal': $('#id_postal').val(),
            // Store Hours
            'monday_to': $('#id_monday_to').val(),
            'monday_from': $('#id_monday_from').val(),
            'tuesday_to': $('#id_tuesday_to').val(),
            'tuesday_from': $('#id_tuesday_from').val(),
            'wednesday_to': $('#id_wednesday_to').val(),
            'wednesday_from': $('#id_wednesday_from').val(),
            'thursday_to': $('#id_thursday_to').val(),
            'thursday_from': $('#id_thursday_from').val(),
            'friday_to': $('#id_friday_to').val(),
            'friday_from': $('#id_friday_from').val(),
            'saturday_to': $('#id_saturday_to').val(),
            'saturday_from': $('#id_saturday_from').val(),
            'sunday_to': $('#id_sunday_to').val(),
            'sunday_from': $('#id_sunday_from').val(),
            'is_open_monday': $('#id_is_open_monday').is(':checked'),
            'is_open_tuesday': $('#id_is_open_tuesday').is(':checked'),
            'is_open_wednesday': $('#id_is_open_wednesday').is(':checked'),
            'is_open_thursday': $('#id_is_open_thursday').is(':checked'),
            'is_open_friday': $('#id_is_open_friday').is(':checked'),
            'is_open_saturday': $('#id_is_open_saturday').is(':checked'),
            'is_open_sunday': $('#id_is_open_sunday').is(':checked'),
            // Other
            'employees': employees,
            'is_suspended': is_suspended,
            'currency': $('#id_currency').val(),
            'language': $('#id_language').val(),
            'tax_rate': parseFloat( $('#id_tax_rate').val() ),
            'is_comics_vendor': $('#id_is_comics_vendor').is(':checked'),
            'is_furniture_vendor': $('#id_is_furniture_vendor').is(':checked'),
            'is_coins_vendor': $('#id_is_coins_vendor').is(':checked'),
        }
        set_store(
            data,
            function(success_json) {
                // Update the store logo and tell the system
                var upload_id = $('#id_hidden_upload_id').val();
                set_imageupload(upload_id, true, null, {{ employee.employee_id }}, function(json_result) {
                    $(document).trigger("add-alerts",[{
                        'message': 'Store was Successfully Updated',
                        'priority': 'success'
                    }]);
                });
            },
            function(error_json) {
                console.error("ERROR");
                for (var key in error_json) {
                    if (error_json.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                  
                         // Display the error here.
                         $(document).trigger("add-alerts",[{
                            'message': (key+': '+error_json[key]),
                            'priority': 'error'
                        }]);
                    }
                }
            }
        );
    }


    function generate_sections_table(json_result)
    {
        // Debugging code
        //var json_text = JSON.stringify(result, null, 2);
        //var obj = JSON.parse(json_text);
    
        // Initial Code
        var html = '';
        html += '<div class="table-responsive">';
        html += '<table class="store-section-table table">';
        html += '<thead>';
        html += '<tr>';
        html += '<th>Section Name</th>';
        html += '<th>Add/Remove</th>';
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';
        
        // Add Section
        html += '<tr>';
        html += '<td>';
        html += '<input id="id_section_id_0" type="text" class="store-section form-control" name="store-section[]" placeholder="Enter section name">';
        html += '</td>';
        html += '<td>';
        html += '<button onclick="ajax_section(0);" id="id_section_name" ';
        html += 'type="button" class="btn btn-labeled btn-success btn-add"> ';
        html += '<span class="btn-label"><em class="fa fa-plus"></em></span><span style="font-size:12pt;">Add</span>';
        html += '</button>';
        html += '<tbody>';
        html += '</td>';
        html += '</tr>';
        
        // Process the meta information.
        $(json_result).each(function(iter,meta){
                            
            // Process the results search data.
            $(meta['results']).each(function(iter,val){
                var section_id = val['section_id'];
                var name = val['name'];
                var store_id = val['store'];
                var org_id = val['organization'];
                            
                // Table Row
                html += '<tr>';
                    
                // Input Button
                var input = '<input id="id_section_id_' + section_id + '" ';
                input += 'onfocusout="alert("test");" ';
                input += 'type="text" ';
                input += 'class="store-section form-control" name="store-section[]" placeholder="Enter section name" ';
                input += 'value="' + name +'">';
                html += '<td>' + input + '</td>';
                            
                // Delete Button
                var del = '<button onclick="ajax_del_section(' + section_id + ');" ';
                del += 'type="button" role="button" class="btn btn-danger">';
                del += '<em class="section-button fa fa-remove"></em>';
                del += '</button>';
                html += '<td>' + del + '</td>';
                            
                // Close Table Row
                html += '</tr>';
            });
        });
       
        html += '</tbody></table></div>';
        $('#id_sections_table_placeholder').html(''); // Clear Table
        $(html).appendTo('#id_sections_table_placeholder'); // Load Table.
    }

    function ajax_refresh_sections_table()
    {
        list_sections({{ org.org_id }}, {{ this_store.store_id }}, function(json_result) {
            generate_sections_table(json_result);
        });
    }

    /**
     *  Function either adds or updates the section and then refreshes the table.
     */
    function ajax_section(section_id)
    {
        var name = $('#id_section_id_' + section_id).val();
        
        // Fetch the data from the view and encode it into a "FormData" object.
        var data = {
            'name': name,
            'store': {{ this_store.store_id }},
            'organization': {{ org.org_id }},
        }
        if (section_id > 0) {
            data['section_id'] = section_id;
        }
        set_section(data, function(json_result) {
            ajax_refresh_sections_table();
        });
    }

    function ajax_del_section(section_id)
    {
        // Call function to delete the section.
        delete_section(section_id, function(json_result) {
            ajax_refresh_sections_table();  // Reload the table.
        });
    }
</script>