{% extends 'register/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="wrapper login-body">
    <div class="block-center mt-xl wd-xl">
        <!-- START panel-->
        <div class="panel panel-dark panel-flat text-center">
            <a href="login.html">
                <img src="{% static "inventory/img/logo-rect.png" %}" alt="Image" class="block-center cc-logo-rect">
                    </a>
            
            <div class="panel-body">
                <p class="text-justify pv">Thank you for signing up, please check your email to activate your account.</p>
                
                <button type="submit" class="btn btn-block btn-primary mt-lg" onclick="window.location='/inventory/login';">Login</button>
                <button disabled="true" type="submit" class="btn btn-block btn-default mt-lg" onclick="window.location='login.html';">Re-send Activation Email</button>
            </div>
        </div>
        <!-- END panel-->
        <div class="p-lg text-center">
            <span>©</span>
            <span>2015</span>
            <span>-</span>
            <span>Comics Cantina</span>
        </div>
    </div>
</div>

{% endblock content %}