{% load staticfiles %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    $(document).ready(function () {
        $(function() {
            var availableTags = [
                "Ontario",
                "Quebec",
                "Nova Scotia",
                "New Brunswick",
                "Manitoba",
                "British Columbia",
                "Prince Edward Island",
                "Saskatchewan",
                "Alberta",
                "Newfoundland and Labrador",
            ];
            $( "#id_province" ).autocomplete({
                source: availableTags
            });
        });
                      
        $(function() {
            var availableTags = [
                "Canada",
                "United States",
            ];
            $( "#id_country" ).autocomplete({
                source: availableTags
            });
        });
    });

    // this is to upload the cover image
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
           alert('Please select an image to upload');
           return false;
        }
    
        // change this to the ajax function call in python
        var url = '/inventory/{{ org_id }}/{{ store_id }}/settings/save_logo';
    
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('image', document.getElementById('id_image').files[0]);
        data.append('upload_id', $('#id_hidden_upload_id').val());
        jQuery.ajax({
            url: url,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(json_result){
                // If success then update the image, else display error.
                if (json_result.status == "success")
                {
                    //alert(json_result.src); // Debugging Purposes Only.
                    $('#logo-image').attr('src', json_result.src);
                    $('#id_hidden_upload_id').val(json_result.id);
                }
                else
                {
                    alert(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
            },
            complete: function(xhr,status) {
                
            }
        });
    }
</script>