Django==1.9.6
Markdown==2.6.6
Pillow==3.2.0
argparse==1.4.0
beautifulsoup4==4.4.1
click==6.6
dj-database-url==0.4.1
django-appconf==1.0.2
django-compressor==2.0
django-filter==0.13.0
django-htmlmin==0.9.1
django-mailgun==0.9.1
django-paypal==0.3.2
djangorestframework==3.3.3
gunicorn==19.6.0
html5lib==0.9999999
ordereddict==1.1
pep8==1.7.0
psycopg2==2.6.1
pylibmc==1.5.1
python-dotenv==0.5.0
pytz==2016.4
qrcode==5.3
rcssmin==1.0.6
requests==2.10.0
rjsmin==1.0.12
simplejson==3.8.2
six==1.10.0
urllib3==1.15.1
