{% include 'api/product.html' %}
{% include 'api/comic.html' %}
<input type="hidden" value="0" id="id_tab_index" />
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                      
                      
        $('.tab').click(function(){
            $('.tab.selected').removeClass('selected');
            $(this).addClass('selected');
                        
            var tab_index = $(this).index();
            $('#id_tab_index').val(tab_index);
            location.reload(true); // Reload page with cache cleared.
        })
            
        load_docgen();
    });
</script>

<script>
    function load_docgen()
    {
        var command = '[';
        
        
        {% for comic in comics %}
        command += '{"title":"{{ comic.product.name }}","http://{{ HOST }}{{ comic.product.qrcode.url }}"},';
        {% endfor %}
        
        command += '[{"title":"","qrcode":""}]'; // the data (an empty one is needed on the end
        
        var arr = [command, 'qrcodes.data' // the filename
        ];
        
        // Breakpoint. (Debugging purposes only)
        //console.log(command);
        //return;
                   
        $(document).ready(function(){
            $.ajax({
                url: 'http://docs.comicscantina.com/test/labels.php',
                data: JSON.stringify ({
                    "method" : "save_dat",
                    "params" : arr,
                    "id"     : "comics-cantina",
                    "jsonrpc": "2.0"
                }),
                type:"POST",
                dataType:"json",
                success: function (data) {
                    window.location=data.result;
                }
            });
        });
    }

                      
</script>