{% load staticfiles %}
{% include 'api/organization.html' %}
{% include 'api/customer.html' %}
{% include 'api/common_js.html' %}
{% include 'store_base/receipt_js.html' %}
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });


    function ajax_confirm_and_proceed_next()
    {
        //TODO: ADD PAYPAL HANDLING.
        
        window.location = '/{% if org != None %}{{ org.org_id }}/{% endif %}{% if store != None %}{{ store.store_id }}/{% endif %}checkout/order';

    }
</script>