{% include 'api/receipt.html' %}
{% include 'api/customer.html' %}
<!-- INVENTORY CHECKOUT JAVASCRIPT FILE STARTS HERE -->
<input type="hidden" id="nav_tracker" value="{% if receipt.customer_id == None %}2{% else %}3{% endif %}" />
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    
    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
           
        // Check to see if this receipt has already been processed.
        // If it already has then leave UI. This is a defensive code to prevent
        // any tampering once a receipt has been transacted.
        if ('{{ receipt.has_finished }}' == 'True') {
            window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout';
        }
                      
        // The remaineder of the code loads up the UI.
        $('.customer-select li').on('click', function () {
            var option = $(this).find('a').data('option');
                                    
            $('.tab.selected').removeClass('selected');
                                    
            $(this).addClass('selected');
                                                  
            if (option == 'New Customer') {
                $('#nav_tracker').val("2"); // Update nav tracker
                $('#return-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideUp();
                $('#new-customer-info-panel').slideDown();
            }
            else if (option == 'Returning Customer') {
                $('#nav_tracker').val("3"); // Update nav tracker
                $('#new-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideUp();
                $('#return-customer-info-panel').slideDown();
            }
            else if(option == 'Scan Card') {
                $('#nav_tracker').val("4"); // Update nav tracker
                $('#new-customer-info-panel').slideUp();
                $('#return-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideDown();
            }
            else {
                $('#nav_tracker').val("1"); // Update nav tracker
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideUp();
            }
        });
                      
        // the list options holding the autocomplete stuff
        // that should be loaded as the user types with relevant
        // options will hold the customer_id as a data attribute...
        // when selected and the text box value changes, we will load
        // up the customer's information using their id and then fill in
        // the other text fields
        // this is where we handle autocomplete
        $('#txt-searchfname').on('change', function () {
            $('#txt-searchlname').val('Doe');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchlname').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchemail').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchlname').val('Doe');
        });
                      
        // The following code will poll the server every 10 seconds to see if
        // we have the latest data.
        window.setInterval(function(){
            background_card_scanner();
        }, 5000);
    });
    
    /**
     *  Function will detect what customer was inputted and attempt to save 
     *  the customer for the cart; afterwords, it will proceed to
     *  load up the next screen.
     */
    function scan_cart_items_load()
    {
        var selected = $('#nav_tracker').val();
        if (selected == "1")
        {
            handle_guest_customer();
        }
        else if (selected == "2")
        {
            handle_new_customer();
        }
        else if (selected == "3")
        {
            handle_returning_customer();
        }
        else if (selected == "4")
        {
            handle_scan_customer();
        }
    }

    /**
     *  Function will simply load up the next page.
     */
    function handle_guest_customer()
    {
        load_checkout_page(); // Simply load the next page.
    }

    /**
     *  Function will save the new customer and load up the next page.
     */
    function handle_new_customer()
    {
        var name = $('#id_first_name').val() + ' ' + $('#id_last_name').val();
        var arr = {
            'first_name': $('#id_first_name').val(),
            'last_name': $('#id_last_name').val(),
            'email': $('#id_email').val(),
            'billing_name': name,
            'billing_phone': $('#id_phone').val(),
            'billing_email': $('#id_email').val(),
            'billing_street_number': $('#id_street_number').val(),
            'billing_street_name': $('#id_street_name').val(),
            'billing_unit_number': $('#id_unit_number').val(),
            'billing_city': $('#id_city').val(),
            'billing_country': $('#id_country').val(),
            'billing_province': $('#id_province').val(),
            'billing_postal': $('#id_postal').val(),
            'shipping_name': name,
            'shipping_phone': $('#id_phone').val(),
            'shipping_email': $('#id_email').val(),
            'shipping_street_number': $('#id_street_number').val(),
            'shipping_street_name': $('#id_street_name').val(),
            'shipping_unit_number': $('#id_unit_number').val(),
            'shipping_city': $('#id_city').val(),
            'shipping_country': $('#id_country').val(),
            'shipping_province': $('#id_province').val(),
            'shipping_postal': $('#id_postal').val(),
            'has_consented': $('#id_has_consented').is(':checked'),
        };
        
        // Create a new customer
        set_customer(arr, function(json_result) {
                     
            // Create our array of product ID's to include in the Receipt update.
            var products = [];
        {% for product in receipt.products.all %}
            products.push({{ product.product_id }});
        {% endfor %}
                     
            var address = json_result['billing_street_number'] + " " + json_result['billing_street_name'];
            if (json_result['billing_unit_number']) {
                address = json_result['billing_unit_number'] + "-" + address;
            }
                     
            // Update the receipt and then do nothing.
            set_receipt({
                'customer': json_result['customer_id'],
                'organization': {{ receipt.organization_id }},
                'store': {{ receipt.store_id }},
                'employee': {{ receipt.employee_id }},
                'receipt_id': {{ receipt.receipt_id }},
                'payment_method': {{ receipt.payment_method }},
                'has_purchased_online': '{{ receipt.has_purchased_online }}',
                'has_tax': '{{ receipt.has_tax }}',
                'tax_rate': {{ receipt.tax_rate }},
                'tax_amount': {{ receipt.tax_amount }},
                'sub_total': {{ receipt.sub_total }},
                'discount_amount': {{ receipt.discount_amount }},
                'total_amount': {{ receipt.total_amount }},
                'has_finished': '{{ receipt.has_finished }}',
                'has_paid': '{{ receipt.has_paid }}',
                'status': {{ receipt.status }},
                'billing_first_name': json_result['first_name'],
                'billing_last_name': json_result['last_name'],
                'billing_address': address,
                'billing_email': json_result['email'],
                'billing_phone': json_result['phone'],
                'billing_city': json_result['city'],
                'billing_province': json_result['province'],
                'billing_country': json_result['country'],
                'billing_postal': json_result['postal'],
                'shipping_first_name': json_result['first_name'],
                'shipping_last_name': json_result['last_name'],
                'shipping_address': address,
                'shipping_email': json_result['email'],
                'shipping_phone': json_result['phone'],
                'shipping_city': json_result['city'],
                'shipping_province': json_result['province'],
                'shipping_country': json_result['country'],
                'shipping_postal': json_result['postal'],
                'products': products,
            }, function(json_result) {
                var receipt_id = json_result['receipt_id'];
                window.location="/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/"+receipt_id+"/items";
            }); // End Receipt jQuery.
        }); // End Customer jQuery.
    }

    /**
     *  Function will load up the next page.
     */
    function handle_returning_customer()
    {
        load_checkout_page(); // Simply load the next page.
    }

    /**
     *  Function will set the "customer_id" for the cart.
     */
    function update_cart_by_set_customer_id(customer_id)
    {
        // STEP 1: Fetch the customer at the particular ID.
        var url = "/api/customers/"+customer_id+"/";
        jQuery.ajax({
            url: url,
            cache: false,
            contentType: false,
            processData: false,
            type: 'GET',
            success: function(result){
                // STEP 2: Update the receipt with the customers info.
                //--------------------------------------------------------------
                    
                var address = result['street_number'] + " " + result['street_name'];
                if (result['unit_number'] != '') {
                    address = result['unit_number'] + "-" + address;
                }
                    
                var data = new FormData();
                data.append('format', 'json');
                data.append('organization', '{{ receipt.organization_id }}');
                data.append('store', '{{ receipt.store_id }}');
                data.append('employee', '{{ receipt.employee_id }}');
                data.append('receipt_id', '{{ receipt.receipt_id }}');
                data.append('customer', customer_id);
                data.append('payment_method', '{{ receipt.payment_method }}');
                data.append('has_purchased_online', '{{ receipt.has_purchased_online }}');
                data.append('has_tax', '{{ receipt.has_tax }}');
                data.append('tax_rate', '{{ receipt.tax_rate }}');
                data.append('tax_amount', '{{ receipt.tax_amount }}');
                data.append('sub_total', '{{ receipt.sub_total }}');
                data.append('discount_amount', '{{ receipt.discount_amount }}');
                data.append('total_amount', '{{ receipt.total_amount }}');
                data.append('has_finished', '{{ receipt.has_finished }}');
                data.append('has_paid', '{{ receipt.has_paid }}');
                data.append('status', '{{ receipt.status }}');
                data.append('billing_first_name', result['first_name']);
                data.append('billing_last_name', result['last_name']);
                data.append('billing_address', address);
                data.append('billing_email', result['email']);
                data.append('billing_phone', result['phone']);
                data.append('billing_city', result['city']);
                data.append('billing_province', result['province']);
                data.append('billing_country', result['country']);
                data.append('billing_postal', result['postal']);
                data.append('shipping_first_name', result['first_name']);
                data.append('shipping_last_name', result['last_name']);
                data.append('shipping_address', address);
                data.append('shipping_email', result['email']);
                data.append('shipping_phone', result['phone']);
                data.append('shipping_city', result['city']);
                data.append('shipping_province', result['province']);
                data.append('shipping_country', result['country']);
                data.append('shipping_postal', result['postal']);
                 
                
                    
                var url = "/api/receipts/{{ receipt.receipt_id }}/";
                
                jQuery.ajax({
                    url: url,
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    type: 'PUT',
                    success: function(json_result){
                        // alert("Saved"); // Debugging Purposes Only
                    },
                    error: function(xhr,status,error) {
                        console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
                        
                    },
                    complete: function(xhr,status) {
                                
                    }
                }); // End Cart jQuery
                    
            },
            error: function(xhr,status,error) {
                console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
                alert(xhr.responseText);
            },
            complete: function(xhr,status) {
                    
            }
        });
    }

    /**
     *  Function will simply load up the next page.
     */
    function handle_scan_customer()
    {
        load_checkout_page(); // Simply load the next page.
    }

    /**
     *  Function will cause the browser to move to the next page.
     */
    function load_checkout_page()
    {
        window.location = "/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items";
    }

    function print_customer_card()
    {
        alert("TODO");
    }

    /**
     *  Function will search through all the customers depending on the search
     *  criteria and return the results in a table for the employee to choose 
     *  from.
     */
    function customer_lookup()
    {
        // Get the criteria to search by.
        var email = $('#id_email2').val();
        var phone = $('#id_phone2').val();
        var first_name = $('#id_first_name2').val();
        var last_name = $('#id_last_name2').val();
        var postal = $('#id_postal2').val();
        
        // Generate search criteria
        var criteria = {};
        if (postal != '') {
            criteria['postal'] = postal;
        }
        if (email != '') {
            criteria['email'] = email;
        }
        if (phone != '') {
            criteria['phone'] = phone;
        }
        if (first_name != '') {
            criteria['first_name'] = first_name;
        }
        if (last_name != '') {
            criteria['last_name'] = last_name;
        }
        
        filter_customers(criteria, function(json_result) {
            // Take the JSON results and generate a HTML table from it.
            generate_search_results_table(json_result);
        });
    }

    /**
     *  Renders a table listing all the open cart sessions in our system.
     */
    function generate_search_results_table(json_result)
    {
        // Debugging code
        //var json_text = JSON.stringify(result, null, 2);
        //var obj = JSON.parse(json_text);
    
        var html = '<div class="table-responsive">';
        html += '<table class="table table-striped">';
        html += '<thead>';
        html += '<tr>';
        html += '<th>First Name</th>';
        html += '<th>Last Name</th>';
        html += '<th>Email</th>';
        html += '<th>Phone</th>';
        html += '<th>Select</th>';
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';
    
        $(json_result).each(function(iter,val2){
            // Update results count
            //var count = val2['count'];
            //var txt = count;
            //txt += (count > 1) ? " Results Listed" : " Result Listed";
            //$('#id_results_count').html(txt);
                        
            // Generate table.
            var position_index = 0;
            $(val2['results']).each(function(iter2,val){
                html += '<tr>';
                html += '<td>' + val['first_name'] + '</td>';
                html += '<td>' + val['last_name'] + '</td>';
                html += '<td>' + val['email'] + '</td>';
                html += '<td>' + val['billing_phone'] + '</td>';
                html += '<td style="text-align:center;">';
                html += '<div class="radio c-radio">';
                html += '<label>';
                html += '<input name="selected-customer" value="custid-1" type="radio" onclick="update_cart_by_set_customer_id(' + val['customer_id'] +');">';
                html += '<span class="fa fa-circle"></span></label>';
                html += '</div>';
                html += '</td>';
                html += '</tr>';
            });
        });
        html += '</tbody></table></div>';
        $('#id_table_placeholder').html(''); // Clear Table
        $(html).appendTo('#id_table_placeholder'); // Load Table.
    }

    /**
     *  Function is to be called continously be jQuery. This function polls
     *  the cart and checks to see if the "customer_id" has been set. If not
     *  a loading type animation will play.
     */
    function background_card_scanner()
    {
        get_receipt({{ receipt.receipt_id }}, function(json_result) {
            // Detect non-empty "customer_id".
            if (json_result['customer_id'] != '')
            {
                // To give the appearance of new card scanned. Only display
                // the message if the current customer_id of the cart is
                // different then what was scanned.
                if ( json_result['customer_id'] == $('#current_customer_id').val() ) {
                    $('#id_scanner_response').html('<p><i>Customer Successfully Assigned</i></p>');
                }
            }
        });
    }
</script>