{% include 'api/receipt.html' %}
{% include 'api/customer.html' %}
<!-- INVENTORY CHECKOUT JAVASCRIPT FILE STARTS HERE -->
<input type="hidden" id="nav_tracker" value="{% if receipt.customer_id == None %}2{% else %}3{% endif %}" />
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    
    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
           
        // Check to see if this receipt has already been processed.
        // If it already has then leave UI. This is a defensive code to prevent
        // any tampering once a receipt has been transacted.
        if ('{{ receipt.has_finished }}' == 'True') {
            window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout';
        }
                      
        // The remaineder of the code loads up the UI.
        $('.customer-select li').on('click', function () {
            var option = $(this).find('a').data('option');
                                    
            $('.tab.selected').removeClass('selected');
                                    
            $(this).addClass('selected');
                                                  
            if (option == 'New Customer') {
                $('#nav_tracker').val("2"); // Update nav tracker
                $('#return-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideUp();
                $('#new-customer-info-panel').slideDown();
            }
            else if (option == 'Returning Customer') {
                $('#nav_tracker').val("3"); // Update nav tracker
                $('#new-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideUp();
                $('#return-customer-info-panel').slideDown();
            }
            else if(option == 'Scan Card') {
                $('#nav_tracker').val("4"); // Update nav tracker
                $('#new-customer-info-panel').slideUp();
                $('#return-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideDown();
            }
            else {
                $('#nav_tracker').val("1"); // Update nav tracker
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideUp();
                $('#scan-customer-card-panel').slideUp();
            }
        });
                      
        // the list options holding the autocomplete stuff
        // that should be loaded as the user types with relevant
        // options will hold the customer_id as a data attribute...
        // when selected and the text box value changes, we will load
        // up the customer's information using their id and then fill in
        // the other text fields
        // this is where we handle autocomplete
        $('#txt-searchfname').on('change', function () {
            $('#txt-searchlname').val('Doe');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchlname').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchemail').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchlname').val('Doe');
        });
                      
        // The following code will poll the server every 10 seconds to see if
        // we have the latest data.
        window.setInterval(function(){
            background_card_scanner();
        }, 5000);
    });
    
    /**
     *  Function will detect what customer was inputted and attempt to save 
     *  the customer for the cart; afterwords, it will proceed to
     *  load up the next screen.
     */
    function scan_cart_items_load()
    {
        var selected = $('#nav_tracker').val();
        if (selected == "1")
        {
            handle_guest_customer();
        }
        else if (selected == "2")
        {
            handle_new_customer();
        }
        else if (selected == "3")
        {
            handle_returning_customer();
        }
        else if (selected == "4")
        {
            handle_scan_customer();
        }
    }

    /**
     *  Function will simply load up the next page.
     */
    function handle_guest_customer()
    {
        load_checkout_page(); // Simply load the next page.
    }

    /**
     *  Function will save the new customer and load up the next page.
     */
    function handle_new_customer()
    {
        var name = $('#id_first_name').val() + ' ' + $('#id_last_name').val();
        var arr = {
            'first_name': $('#id_first_name').val(),
            'last_name': $('#id_last_name').val(),
            'email': $('#id_email').val(),
            'billing_name': name,
            'billing_phone': $('#id_phone').val(),
            'billing_street_number': $('#id_street_number').val(),
            'billing_street_name': $('#id_street_name').val(),
            'billing_unit_number': $('#id_unit_number').val(),
            'billing_city': $('#id_city').val(),
            'billing_country': $('#id_country').val(),
            'billing_province': $('#id_province').val(),
            'billing_postal': $('#id_postal').val(),
            'shipping_name': name,
            'shipping_phone': $('#id_phone').val(),
            'shipping_street_number': $('#id_street_number').val(),
            'shipping_street_name': $('#id_street_name').val(),
            'shipping_unit_number': $('#id_unit_number').val(),
            'shipping_city': $('#id_city').val(),
            'shipping_country': $('#id_country').val(),
            'shipping_province': $('#id_province').val(),
            'shipping_postal': $('#id_postal').val(),
            'has_consented': $('#id_has_consented').is(':checked'),
        };
        
        // Create a new customer
        set_customer(
            arr,
            function(json_result) {
                // Create our array of product ID's to include in the Receipt update.
                var products = [];
            {% for product in receipt.products.all %}
                products.push({{ product.product_id }});
            {% endfor %}
            
                var address = json_result['billing_street_number'] + " " + json_result['billing_street_name'];
                if (json_result['billing_unit_number']) {
                    address = json_result['billing_unit_number'] + "-" + address;
                }
                     
                // Update the receipt and then do nothing.
                set_receipt({
                    'customer': json_result['customer_id'],
                    'organization': {{ receipt.organization_id }},
                    'store': {{ receipt.store_id }},
                    'employee': {{ receipt.employee_id }},
                    'receipt_id': {{ receipt.receipt_id }},
                    'payment_method': {{ receipt.payment_method }},
                    'has_purchased_online': '{{ receipt.has_purchased_online }}',
                    'has_tax': '{{ receipt.has_tax }}',
                    'tax_rate': {{ receipt.tax_rate }},
                    'tax_amount': {{ receipt.tax_amount }},
                    'sub_total': {{ receipt.sub_total }},
                    'discount_amount': {{ receipt.discount_amount }},
                    'total_amount': {{ receipt.total_amount }},
                    'has_finished': '{{ receipt.has_finished }}',
                    'has_paid': '{{ receipt.has_paid }}',
                    'status': {{ receipt.status }},
                    'billing_first_name': json_result['first_name'],
                    'billing_last_name': json_result['last_name'],
                    'billing_address': address,
                    'billing_phone': json_result['phone'],
                    'billing_city': json_result['city'],
                    'billing_province': json_result['province'],
                    'billing_country': json_result['country'],
                    'billing_postal': json_result['postal'],
                    'shipping_first_name': json_result['first_name'],
                    'shipping_last_name': json_result['last_name'],
                    'shipping_address': address,
                    'shipping_phone': json_result['phone'],
                    'shipping_city': json_result['city'],
                    'shipping_province': json_result['province'],
                    'shipping_country': json_result['country'],
                    'shipping_postal': json_result['postal'],
                    'products': products,
                }, function(json_result) {
                    var receipt_id = json_result['receipt_id'];
                    window.location="/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/"+receipt_id+"/items";
                }); // End Receipt jQuery.
            },
            function(error_json) {
                for (var key in error_json) {
                    // this will check if key is owned by data object and not by any of it's ancestors
                    if (error_json.hasOwnProperty(key)) {
                        // Display the error here.
                        $(document).trigger("add-alerts",[{
                            'message': (key+': '+error_json[key]),
                            'priority': 'error'
                        }]);
                    }
                }
            }
        ); // End Customer jQuery.
    }

    /**
     *  Function will load up the next page.
     */
    function handle_returning_customer()
    {
        load_checkout_page(); // Simply load the next page.
    }

    /**
     *  Function will set the "customer_id" for the cart.
     */
    function update_cart_by_set_customer_id(customer_id)
    {
        // STEP 1: Fetch the customer at the particular ID.
        get_customer(customer_id, function(json_result) {
            // STEP 2: Update the receipt with the customers info.
            //--------------------------------------------------------------
                     
            // Create our array of product ID's to include in the Receipt update.
            var products = [];
        {% for product in receipt.products.all %}
            products.push({{ product.product_id }});
        {% endfor %}
            
            // Create our address.
            var address = json_result['billing_street_number'] + " " + json_result['billing_street_name'];
            if (json_result['billing_unit_number']) {
                address = json_result['billing_unit_number'] + "-" + address;
            }

            set_receipt({
                'customer': json_result['customer_id'],
                'organization': {{ receipt.organization_id }},
                'store': {{ receipt.store_id }},
                'employee': {{ receipt.employee_id }},
                'receipt_id': {{ receipt.receipt_id }},
                'payment_method': {{ receipt.payment_method }},
                'has_purchased_online': '{{ receipt.has_purchased_online }}',
                'has_tax': '{{ receipt.has_tax }}',
                'tax_rate': {{ receipt.tax_rate }},
                'tax_amount': {{ receipt.tax_amount }},
                'sub_total': {{ receipt.sub_total }},
                'discount_amount': {{ receipt.discount_amount }},
                'total_amount': {{ receipt.total_amount }},
                'has_finished': '{{ receipt.has_finished }}',
                'has_paid': '{{ receipt.has_paid }}',
                'status': {{ receipt.status }},
                'billing_first_name': json_result['first_name'],
                'billing_last_name': json_result['last_name'],
                'billing_address': address,
                'email': json_result['email'],
                'billing_phone': json_result['phone'],
                'billing_city': json_result['city'],
                'billing_province': json_result['province'],
                'billing_country': json_result['country'],
                'billing_postal': json_result['postal'],
                'shipping_first_name': json_result['first_name'],
                'shipping_last_name': json_result['last_name'],
                'shipping_address': address,
                'shipping_phone': json_result['phone'],
                'shipping_city': json_result['city'],
                'shipping_province': json_result['province'],
                'shipping_country': json_result['country'],
                'shipping_postal': json_result['postal'],
                'products': products,
            }, function(json_result) {
                var receipt_id = json_result['receipt_id'];
                window.location="/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/"+receipt_id+"/items";
            }); // End Receipt jQuery.
        }); // End Customer jQuery.
    }

    /**
     *  Function will simply load up the next page.
     */
    function handle_scan_customer()
    {
        load_checkout_page(); // Simply load the next page.
    }

    /**
     *  Function will cause the browser to move to the next page.
     */
    function load_checkout_page()
    {
        window.location = "/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items";
    }

    function print_customer_card()
    {
        alert("TODO");
    }

    /**
     *  Function will search through all the customers depending on the search
     *  criteria and return the results in a table for the employee to choose 
     *  from.
     */
    function customer_lookup()
    {
        // Get the criteria to search by.
        var email = $('#id_email2').val();
        var phone = $('#id_phone2').val();
        var first_name = $('#id_first_name2').val();
        var last_name = $('#id_last_name2').val();
        var postal = $('#id_postal2').val();
        
        // Generate search criteria
        var criteria = {};
        if (postal != '') {
            criteria['postal'] = postal;
        }
        if (email != '') {
            criteria['email'] = email;
        }
        if (phone != '') {
            criteria['phone'] = phone;
        }
        if (first_name != '') {
            criteria['first_name'] = first_name;
        }
        if (last_name != '') {
            criteria['last_name'] = last_name;
        }
        
        filter_customers(criteria, function(json_result) {
            // Take the JSON results and generate a HTML table from it.
            generate_search_results_table(json_result);
        });
    }

    /**
     *  Renders a table listing all the open cart sessions in our system.
     */
    function generate_search_results_table(json_result)
    {
        // Debugging code
        //var json_text = JSON.stringify(result, null, 2);
        //var obj = JSON.parse(json_text);
        
        var html = '';
        $(json_result).each(function(iter,val2){
            // Update results count
            var count = parseInt( val2['count'] );
            
            if (count < 1) { // FAILURE
                html = '<br/>';
                html += '<div class="jumbotron bg-gray-lighter">';
                html += '<h3 class="p0 mt0 mb-lg">No Results</h3>';
                html += '<p class="mb0 text-justify">It appears the customer you where looking for was not found. Please try again using different search criteria or create a new customer.</p>';
                html += '</div>';
            } else { // SUCCESS
                // Generate table.
                html = '<div class="table-responsive">';
                html += '<table class="table table-striped">';
                html += '<thead>';
                html += '<tr>';
                html += '<th>First Name</th>';
                html += '<th>Last Name</th>';
                html += '<th>Email</th>';
                html += '<th>Phone</th>';
                html += '<th>Select</th>';
                html += '</tr>';
                html += '</thead>';
                html += '<tbody>';
                            
                var position_index = 0;
                    $(val2['results']).each(function(iter2,val){
                    html += '<tr>';
                    html += '<td>' + val['first_name'] + '</td>';
                    html += '<td>' + val['last_name'] + '</td>';
                    html += '<td>' + val['email'] + '</td>';
                    html += '<td>' + val['billing_phone'] + '</td>';
                    html += '<td style="text-align:center;">';
                    html += '<div class="radio c-radio">';
                    html += '<label>';
                    html += '<input name="selected-customer" value="custid-1" type="radio" onclick="update_cart_by_set_customer_id(' + val['customer_id'] +');">';
                    html += '<span class="fa fa-circle"></span></label>';
                    html += '</div>';
                    html += '</td>';
                    html += '</tr>';
                });
            }
        });
        html += '</tbody></table></div>';
        $('#id_table_placeholder').html(''); // Clear Table
        $(html).appendTo('#id_table_placeholder'); // Load Table.
    }

    /**
     *  Function is to be called continously be jQuery. This function polls
     *  the cart and checks to see if the "customer_id" has been set. If not
     *  a loading type animation will play.
     */
    function background_card_scanner()
    {
        get_receipt({{ receipt.receipt_id }}, function(json_result) {
            // Detect non-empty "customer_id".
            if (json_result['customer_id'] != '')
            {
                // To give the appearance of new card scanned. Only display
                // the message if the current customer_id of the cart is
                // different then what was scanned.
                if ( json_result['customer_id'] == $('#current_customer_id').val() ) {
                    $('#id_scanner_response').html('<p><i>Customer Successfully Assigned</i></p>');
                }
            }
        });
    }
</script>