{% include 'api/orgshippingrate.html' %}
<script>
    function ajax_update_rates()
    {
        get_org_shipping_rate(
            {{ form.instance.shipping_rate_id }},
            function(data) {
                data['comics_rate1'] = $('#id_comics_rate1').val();
                data['comics_rate2'] = $('#id_comics_rate2').val();
                data['comics_rate3'] = $('#id_comics_rate3').val();
                data['comics_rate4'] = $('#id_comics_rate4').val();
                data['comics_rate5'] = $('#id_comics_rate5').val();
                data['comics_rate6'] = $('#id_comics_rate6').val();
                data['comics_rate7'] = $('#id_comics_rate7').val();
                data['comics_rate8'] = $('#id_comics_rate8').val();
                data['comics_rate9'] = $('#id_comics_rate9').val();
                data['comics_rate10'] = $('#id_comics_rate10').val();
                set_org_shipping_rate(
                    data,
                    function(json_results) {
                        console.log(json_results);
                        $(document).trigger("add-alerts",[{
                            'message': 'Store was Successfully Updated',
                            'priority': 'success'
                        }]);
                    }
                );
            },
            function(json_error) {
                $(document).trigger("add-alerts",[{
                    'message': (key+': '+json_error[key]),
                    'priority': 'error'
                }]);
            }
        );
    }
</script>