{% include 'api/orgshippingpreference.html' %}
{% include 'api/orgshippingrate.html' %}
<script>
    $(document).ready(function () {
        // When 'is_pickup_only' checkbox is selected, then change status.
        $('#id_is_pickup_only').on('change', function(){
            ajax_update_shipping();
        });
                      
    });
    
    function ajax_delete_rate(rate_id)
    {
        delete_org_shipping_rate(
            rate_id,
            function(ok) {
                // (1) Add notification message of success.
                $.notify( 'Shipping Rate was Successfully Deleted', "success");
                                
                // (2) Add count-down timer to reloading page/cache.
                setTimeout(function(){
                    location.reload(true); // Reload page with cache cleared.
                }, 500)
            }
        );
    }

</script>