{% include 'api/orgshippingpreference.html' %}
<script>
    $(document).ready(function () {
        // When 'is_pickup_only' checkbox is selected, then change status.
        $('#id_is_pickup_only').on('change', function(){
            ajax_update_shipping();
        });
                      
    });
    
    function ajax_update_shipping()
    {
        get_org_shipping_preference(
            {{ org_form.instance.shipping_pref_id }},
            function(json_success) {
                json_success['is_pickup_only'] = !json_success['is_pickup_only'];
                set_org_shipping_preference(json_success, function(json_results) {
                    $(document).trigger("add-alerts",[{
                        'message': 'Store was Successfully Updated',
                        'priority': 'success'
                    }]);
                });
            },
            function(json_error) {
                $(document).trigger("add-alerts",[{
                    'message': (key+': '+json_error[key]),
                    'priority': 'error'
                }]);
            }
        );
    }
</script>