{% include 'api/employee.html' %}
{% include 'api/user.html' %}
{% include 'api/imageupload.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });
    
    function ajax_delete_employee(employee_id, user_id, profile_id)
    {
        // Call function to delete the user.
        delete_employee(employee_id, function(json_result) {
            delete_user(user_id, function(json_result) {
                if (profile_id > 0) {
                    delete_imageupload(upload_id, function(json_result) {
                        window.location='';
                    });
                } else {
                    window.location='';
                }
            });
        });
    }
   
</script>