{% load staticfiles %}
{% include 'api/organization.html' %}
{% include 'api/employee.html' %}
{% include 'api/customer.html' %}
{% include 'api/common_js.html' %}
{% include 'store_base/receipt_js.html' %}
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });


    function ajax_proceed_next()
    {
        ajax_update_organization(function(json_results) {
            window.location = "/inventory/register/step3";                   
        });
    }

    function ajax_update_organization(callback) {
        get_organization(
            {{ this_org.org_id }},
            function(organization) {
                // Get the URL and format it so no errors will be returned by Python.
                var website = $('#id_website').val();
                if (website.indexOf("http") < 0) {
                    website = 'http://' + website;
                }
                // However if nothing was enterd then don't add the URL.
                if (website.length < 8) {
                    website = "";
                }
                     
                organization['email'] = $('#id_email').val();
                organization['logo'] = $('#id_hidden_upload_id').val();
                organization['name'] = $('#id_name').val();
                organization['description'] = $('#id_description').val();
                organization['website'] = website;
                organization['twitter_url'] = $('#id_twitter_url').val();
                organization['facebook_url'] = $('#id_facebook_url').val();
                organization['street_number'] = $('#id_street_number').val();
                organization['street_name'] = $('#id_street_name').val();
                organization['unit_number'] = $('#id_unit_number').val();
                organization['city'] = $('#id_city').val();
                organization['country'] = $('#id_country').val();
                organization['province'] = $('#id_province').val();
                organization['postal'] = $('#id_postal').val();
                organization['currency'] = $('#id_currency').val();
                organization['language'] = $('#id_language').val();
                organization['paypal_email'] = $('#id_paypal_email').val();
                     
                if ($('#id_phone').val().length > 0) { // Add telephone if added.
                    organization['phone'] = get_phone('#id_phone');
                } else {
                    organization['phone'] = "";
                }
                     
                // Send the "FormData" object to be sent through REST and get updated.
                set_organization(
                    organization,
                    function(success_json) {
                        callback(success_json)
                    },
                    function(error_json) {
                        for (var key in error_json) {
                            // this will check if key is owned by data object and not by any of it's ancestors
                            if (error_json.hasOwnProperty(key)) {
                                // Display the error here.
                                $(document).trigger("add-alerts",[{
                                    'message': (key+': '+error_json[key]),
                                    'priority': 'error'
                                }]);
                            }
                        }
                    }
                ); // End Set Org
            },
            function(failure_json) {
                // Do nothing.
            }
        ); // End Get Org
    }

</script>