{% include 'api/imageupload.html' %}
{% include 'api/organization.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });
                  
    function ajax_save() {
        // Create our 'auth_users' object.
        var data = {
            'first_name': $('#id_first_name').val(),
            'last_name': $('#id_last_name').val(),
            'email': $('#id_email').val(),
            'username': $('#id_email').val(),
            'old_password': $('#id_old_password').val(),
            'password': $('#id_password').val(),
            'password_repeated': $('#id_password_repeated').val(),
            'groups': ''
        };
        set_user(
            data,
            function(success_result) {
                 location.reload(true); // Reload page with cache cleared.
            },
            function(error_json) {
                for (var key in error_json) {
                    if (error_json.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                 
                        // Display the error here.
                        $(document).trigger("add-alerts",[{
                            'message': (key+': '+error_json[key]),
                            'priority': 'error'
                        }]);
                    }
                 }
            }
        );
    }
</script>