{% load staticfiles %}
{% for a_series in series %}
<div class="list-group-item clearfix search-list-item">
    {% if a_series.cover_url == '' or a_series.cover_url == None %}
    <img src="{% static "inventory/img/missing_cover.png" %}" class="series-cover-image pull-left">
    {% else %}
    <img src="{{ a_series.cover_url }}" class="series-cover-image pull-left">
    {% endif %}
    <div class="pull-left left-info">
        <h3 class="list-info">{{ a_series.sort_name }}</h3>
        <h4 class="list-info">{{ a_series.publisher.name }}</h4>
    </div>
    <div class="pull-right caret-r">
        <em class="fa fa-3x fa-caret-right"></em>
    </div>
    <div class="pull-right right-info">
        <h4 class="list-info">Released {{ a_series.year_began }} - {% if a_series.year_ended != 0%}{{ a_series.year_ended }}{% else %}{% endif %}</h4>
        <span class="list-info">Number of Issues: {{ a_series.issue_count }}</span>
    </div>
</div>
{% empty %}
No Results
{% endfor %}