{% extends 'inventory/base.html' %}
{% load staticfiles %}
{% block content %}

<section>
    <!-- Page content-->
    <div class="content-wrapper">
        <h3 class="mb0">Inventory
            <small>View Your Store's Inventory</small>
        </h3>
        <!-- START row 1 -->
        <div class="row main-row">
            <div id="search-series-list" class="inventory-list col-md-6 col-xs-12 pull-left">
                <div class="list-filter-bar clearfix navbar-inverse">
                    <h4 class="pull-left">Search For Series</h4>
                    <h5 id="series-adv-search-toggle" class="pull-right">Advanced Search&nbsp;&nbsp;<em class="fa fa-caret-down"></em></h5>
                    <div class="search-box">
                        <input id="id_series" type="text" class="form-control" placeholder="Series Title"></div>
                    <div id="series-adv-search-box" class="clearfix" style="display: none;">
                        <input id="id_publisher" type="text" class="form-control mb5" placeholder="Publisher">
                        <label class="label-publish-from">Published From: </label>
                        <input id="id_from"  type="date" class="form-control input-publish-from">
                        <label class="label-publish-to">Published To: </label>
                        <input id="id_to" type="date" class="form-control input-publish-to">
                    </div>
                    <div class="pull-left">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle sort-by" data-toggle="dropdown" aria-expanded="false">
                                Sort By&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Title&nbsp;&nbsp;<span class="fa fa-sort-alpha-asc"></span></a></li>
                                <li><a href="#">Publisher</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <span class="results-returned">4 Series returned</span>
                    </div>
                </div>
                <div class="inventory-search-list list-group">
                    <!-- SEARCH RESULTS FOR SERIES -->
                    <div id="ajax_series_results_placeholder"
                       name="ajax_series_results_placeholder"></div>
                </div>
            </div>
            
            <div id="search-issues-list" class="inventory-list col-md-6 col-xs-12  pull-right">
                <div class="list-filter-bar clearfix navbar-inverse">
                    <h4 class="pull-left">Search For Issues</h4>
                    <h5 id="issues-adv-search-toggle" class="pull-right">Advanced Search&nbsp;&nbsp;<em class="fa fa-caret-down"></em></h5>
                    <div class="search-box">
                        <input id="id_issue" type="text" class="form-control" placeholder="Issue Title / Number">
                    </div>
                    <div id="issues-adv-search-box" class="clearfix">
                        <input id="id_issue_publisher" type="text" class="form-control mb5" placeholder="Publisher">

                            <div class="price-range">
                                <input type="checkbox" id="search-price">
                                    <label for="search-price">&nbsp;&nbsp; Price range:</label>
                                    <input type="text" id="price-amount" readonly="">
                                        <div id="slider-range-price" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"><div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 16.666666666666664%; width: 49.99999999999999%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 16.666666666666664%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0" style="left: 66.66666666666666%;"></span></div>
                                        </div>
                            
                            <label class="control-label ml30">
                                <input type="checkbox">&nbsp;&nbsp; In stock</label>
                            <label class="control-label ml30">
                                <input type="checkbox">&nbsp;&nbsp; Out of stock</label>
                            
                            </div>
                    <div class="pull-left clearfix">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle sort-by" data-toggle="dropdown" aria-expanded="false">
                                Sort By&nbsp;&nbsp;<span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Title&nbsp;&nbsp;<span class="fa fa-sort-alpha-asc"></span></a></li>
                                <li><a href="#">Release Date</a></li>
                                <li><a href="#">Price</a></li>
                                <li><a href="#"># In Stock</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="pull-right">
                        <span class="results-returned">4 Issues returned</span>
                    </div>
                </div>
                <div class="inventory-search-list list-group">
                    
                    <!-- SEARCH RESULTS FOR ISSUES -->
                    <div id="ajax_issues_results_placeholder"
                       name="ajax_issues_results_placeholder"></div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

{% include "inventory/list/js.html" %}

{% endblock content %}