{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Fav and touch icons -->
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
        <link rel="shortcut icon" href="assets/ico/favicon.png">
        <title>Comics Cantina</title>
        
        <!-- Local CSS -->
        {% for local in local_css_library %}
        <link type="{{ local.type }}" rel="{{ local.rel }}" href="{% static local.href %}">
        {% endfor %}
            
        <!-- Local JS header -->
        {% for local in local_js_library_header %}
        <script type="{{ local.type }}" src="{% static local.src %}"></script>
        {% endfor %}
        
        <!-- Just for debugging purposes. -->
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
        <!-- include pace script for automatic web page progress bar  -->
        
        <script>
            paceOptions = {
                elements: true
            };
        </script>
</head>

<body class="  pace-done" style="">
    <div class="pace  pace-inactive">
        <div class="pace-progress" data-progress-text="100%" data-progress="99" style="width: 100%;">
        <div class="pace-progress-inner"></div>
    </div>
    <div class="pace-activity"></div></div>
    
    {% include "store_about/login.html" %}
    {% include "store_about/signin.html" %}
    {% include "store_about/header.html" %}
    
    <!-- CSRF Token -->
    {% csrf_token %}
    
    <!-- CONTENT -->
    {% block content %}
    {% endblock %}
    
    {% include "store_about/footer.html" %}

    <!-- Local JS footer -->
    {% for local in local_js_library_body %}
    <script type="{{ local.type }}" src="{% static local.src %}"></script>
    {% endfor %}

<script>
    // this script required for subscribe modal
    $(window).load(function () {
        // full load
        $('#modalAds').modal('show');
        $('#modalAds').removeClass('hide');
    });
</script>
</body>
</html>