{% include 'api/imageupload.html' %}
{% include 'api/store.html' %}
{% include 'api/organization.html' %}
{% include 'api/section.html' %}
{% include 'api/employee.html' %}
{% include 'api/user.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                      
        $(function() {
            var availableTags = [
                "Ontario",
                "Quebec",
                "Nova Scotia",
                "New Brunswick",
                "Manitoba",
                "British Columbia",
                "Prince Edward Island",
                "Saskatchewan",
                "Alberta",
                "Newfoundland and Labrador",
            ];
            $( "#id_province" ).autocomplete({
                source: availableTags
            });
        });
                      
        $(function() {
            var availableTags = [
                "Canada",
                "United States",
            ];
            $( "#id_country" ).autocomplete({
                source: availableTags
            });
        });
    });

    // this is to upload the cover image
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
            alert('Please select an image to upload');
            return false;
        }
    
        var image = document.getElementById('id_image').files[0];
        var upload_id = $('#id_hidden_upload_id').val();
    
        // Insert or Update.
        set_imageupload(upload_id, false, image, 0, function(json_result) {
            $('#logo-image').attr('src', json_result['image']);
            $('#id_hidden_upload_id').val(json_result['upload_id']);
        });
    }

    function ajax_save_employee() {
        // STEP 1:
        // Create our 'auth_users' object.
        var data = new FormData();
        data.append('first_name', $('#id_first_name').val());
        data.append('last_name', $('#id_last_name').val());
        data.append('email', $('#id_email').val());
        data.append('username', $('#id_email').val());
        data.append('old_password', $('#id_old_password').val());
        data.append('password', $('#id_password').val());
        data.append('password_repeated', $('#id_password_repeated').val());
        data.append('groups','');
        set_user(0, data, function(json_result) {
            var user = json_result['id'];
                
            // STEP 2:
            // Create our 'ec_employees' object.
            var data = new FormData();
            data.append('user', user);
            data.append('organization', '{{ org.org_id }}');
            data.append('role', $('#id_role').val());
            data.append('email', $('#id_email').val());
            data.append('upload_id', $('#id_hidden_upload_id').val());
            data.append('first_name', $('#id_first_name').val());
            data.append('last_name', $('#id_last_name').val());
            data.append('phone', $('#id_phone').val());
            data.append('fax', $('#id_fax').val());
            data.append('street_number', $('#id_street_number').val());
            data.append('street_name', $('#id_street_name').val());
            data.append('unit_number', $('#id_unit_number').val());
            data.append('city', $('#id_city').val());
            data.append('country', $('#id_country').val());
            data.append('province', $('#id_province').val());
            data.append('postal', $('#id_postal').val());
            set_employee(0, data, function(json_result) {
                var employee_id = json_result['employee_id'];
                         
                // STEP 3:
                // Iterate through all the stores an and process the
                // checked stores by assigning the returned 'employee_id'
                // with the 'store_id'.
                $('#id_store_checkboxes').children('input').each(function () {
                    if (this.checked)
                    {
                        store_id = this.id;
                        employee_id = json_result.employee_id;
                                                                          
                        // STEP 4:
                        // Assign in the database.
                        ajax_store_selection(store_id, employee_id);
                    }
                });
                   
                // STEP 5:
                window.location = '/inventory/{{ org.org_id }}/{{ store.store_id }}/settings/employee/edit/' + employee_id;
            });
        });
    }


    function ajax_store_selection(store_id, employee_id) {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/settings/users/assign_employee';
    
        var data = new FormData();
        // Store
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('this_employee_id', employee_id);
        data.append('this_store_id', store_id);
        jQuery.ajax({
            url: url,
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(json_result){
                if (json_result.status == "success")
                {
                //alert("ok saved"); // Debugging Purposes
                //window.location = ''; // Reload page.
                }
                else
                {
                alert(json_result.message);
                }
                },
            error: function(xhr,status,error) {
                console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
            },
            complete: function(xhr,status) {
                
            }
        });
    }
</script>