{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Bootstrap Admin App + jQuery">
        <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
        <link type="text/plain" rel="author" href="http://www.comicscantina.ca/humans.txt" />
        <title>Comics Cantina</title>
        
        <!-- Local CSS -->
        {% for local in local_css_library %}
        <link type="{{ local.type }}" rel="{{ local.rel }}" href="{% static local.href %}">
        {% endfor %}
        
        <!-- Local JS -->
        {% for local in local_js_library_header %}
        <script type="{{ local.type }}" src="{% static local.src %}"></script>
        {% endfor %}
        
    </head>
    <body class="">
        <div class="wrapper">
            <!-- Navigation -->
            {% include "inventory_base/header.html" %}
            
            <!-- Sidebar-->
            {% include "inventory_base/sidebar.html" %}
            
            <!-- Offsidebar-->
            {% include "inventory_base/offsidebar.html" %}
            
            <!-- CSRF Token -->
            {% csrf_token %}
            
            <!-- CONTENT -->
            {% block content %}
            {% endblock %}
            
            <!-- Footer -->
            {% include "inventory_base/footer.html" %}
        
        </div>
        <!-- Local JS -->
        {% for local in local_js_library_body %}
        <script type="{{ local.type }}" src="{% static local.src %}"></script>
        {% endfor %}
    </body>
</html>
