<div class="table-responsive">
    <div class="jumbotron bg-gray-lighter">
        <h3 class="p0 mt0 mb-lg">Inventory Items</h3>
        <p class="mb0 text-justify">This is a list of items of this product in the store's inventory.  These may be product variants or condition variants, or may be copies of the same product.</p>
    </div>
    <table id="added-items-table" class="table table-condensed table-striped    table-hover inventory-details">
        <thead>
            <tr>
                <th>Condition</th>
                <th>Price</th>
                <th>Store</th>
                <th>Section</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr>
            <td class="text-center">
                {% if product.is_cgc_rated %}
                {{ product.label_colour }} {{ product.cgc_rating }}
                {% else %}
                {{ product.condition_rating }}
                {% endif %}
            </td>
            <td class="price">{{ product.price }}</td>
            <td>{{ product.store }}</td>
            <td>{{ product.section }}</td>
            <td>
                <a onclick=""
                     class="edit-item pr10 curp"
               data-toggle="tooltip"
       data-original-title="Edit Item"
            data-placement="top">
                    <em class="fa fa-2x fa-edit"></em>
                </a>
                <a onclick="ajax_delete_comic({{ product.issue_id }},{{ product.comic_id }});"
                     class="remove-item curp"
               data-toggle="tooltip"
       data-original-title="Remove Item"
            data-placement="top">
                    <em class="fa fa-2x fa-remove"></em>
                </a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </td>
        {% endfor %}
        </tbody>
    </table>
</div>