{% extends 'inventory/base.html' %}
{% load staticfiles %}
{% block content %}

<section>
    <!-- Page content-->
    <div class="content-wrapper p0 bg-gray-lighter">
        <div class="header w100 bb m0 p-lg bg-white">
            <h3 class="m0 b0 p0"><em class="fa fa-cog mr"></em>Inventory <em class="fa fa-angle-right pl pr"></em>  Add Item <em class="fa fa-angle-right pl pr"></em>  Comic</h3>
        </div>
        <div class="clearfix"></div>
        <!-- START row 1 -->
        <div class="row">
            <div class="col-sm-12">
                <!-- START panel-->
                <div id="locations-panel" class="clearfix panel panel-default m-lg">
                    <div class="panel-tabs w100 p m0" style="background-color:#FAFAFA;border-bottom:1px solid #EEE;">
                        <ul class="tab-list clearfix">
                            <li class="tab product-type dropdown" role="presentation">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" role="button">
                                    Comic
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-body panel-body-main">
                        <div class="col-sm-12 mt-lg">
                            <div class="col-sm-5">
                                <div class="jumbotron bg-gray-lighter">
                                    <h3 class="p0 mt0 mb-lg">Product Image</h3>
                                    <p class="mb0 text-justify">Along with the cover image that is supplied, you can add your own images.  If there is no image supplied, and you don't upload one, there will be no image for customers to view when browsing your online store.</p>
                                </div>
                            </div>
                            <div class="col-sm-7"><!-- Cover Uploader -->
                                
                                <!-- Upload ID -->
                                <input type="hidden" id="id_hidden_upload_id" value="{{ upload_id }}"/>
                                <!-- /.Upload ID -->
                                
                                {% if form.cover.image == '' %}
                                <img src="" style="height:140px;width:140px;" alt="Store Logo"
                                    class="img-thumbnail center-block mb0 add-cover-image"
                                    name="logo-image" id="logo-image">
                                {% else %}
                                <img src="{{ form.cover.image.url }}" style="height:140px;width:140px;" alt="Store Logo"
                                        class="img-thumbnail center-block mb0 add-cover-image"
                                        name="logo-image" id="logo-image">
                                {% endif %}
                                        
                                <label class="form-control btn btn-success mt10 curp" >
                                    <em class="fa fa-upload"></em>&nbsp;&nbsp; Upload Product Image...
                                    <input onchange="ajax_upload_image({{ issue.issue_id }});"
                                               type="file"
                                              class="form-control mb10 hide"
                                               name="logo-image"
                                                 id="id_image"/>
                                </label>
        
                            </div><!-- /.Cover Uploader -->
                            <div class="clearfix"></div>
                        </div>
                        <form class="form-horizontal">
                            <div class="col-sm-12">
                                <hr class="pb" />
                                <div class="col-sm-5">
                                    <div class="jumbotron bg-gray-lighter">
                                        <h3 class="p0 mt0 mb-lg">Comic Information</h3>
                                        <p class="mb0 text-justify">This is the information about the comic you are adding.  Adding a comic from the search page will fill in a number of fields for you.</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="txt-series" class="col-md-4 control-label">Series</label>
                                        <div class="col-md-8">
                                            {{ issue_form.series }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-issue" class="col-md-4 control-label">Issue #</label>
                                        <div class="col-md-8">
                                            {{ issue_form.number }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-title" class="col-md-4 control-label">Title</label>
                                        <div class="col-md-8">
                                            {{ issue_form.title }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-publisher" class="col-md-4 control-label">Publisher</label>
                                        <div class="col-md-8">
                                            {{ issue_form.publisher }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-genre" class="col-md-4 control-label">Genre</label>
                                        <div class="col-md-8">
                                            {{ issue_form.genre }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel-age" class="col-md-4 control-label">Age</label>
                                        <div class="col-md-8">
                                            {{ product_form.age }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel-location" class="col-md-4 control-label">Store / Section</label>
                                        <div class="col-md-4 mb">
                                            {{ product_form.store }}
                                        </div>
                                        <div class="col-md-4" id="id_section_placeholder">
                                            {{ product_form.section }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-price" class="col-md-4 control-label">Price / Cost</label>
                                        <div class="col-md-4 mb">
                                            {{ product_form.price }}
                                        </div>
                                        <div class="col-md-4">
                                            {{ product_form.cost }}
                                        </div>
                                    </div>
                                    <!-- cgc rating -->
                                    <div class="col-sm-4 text-right" style="">
                                        {{ product_form.is_cgc_rated }}
                                        <label for="cb-cgc-rated" class="control-label">&nbsp;&nbsp;CGC Rated</label>
                                    </div>
                                    <div class="col-sm-4 p10 pt0">
                                        {{ product_form.label_colour }}
                                    </div>
                                    <div class="col-sm-4 p10 pt0">
                                        {{ product_form.condition_rating }}
                                    </div>
                                    <div class="col-sm-4 p10 pt0" id="id_cgc_rating_ui">
                                        {{ product_form.cgc_rating }}
                                    </div>
                                    <!-- alternate covers -->
                                    <div class="col-sm-offset-4 col-sm-8 p10 pt0">
                                        <label class="control-label">
                                            {{ product_form.is_canadian_priced_variant }}&nbsp;&nbsp;Canadian price variant
                                        </label>
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 p10 pt0">
                                        <label class="control-label">
                                            {{ product_form.is_variant_cover }}&nbsp;&nbsp;Variant cover
                                        </label>
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 p10 pt0">
                                        <label class="control-label">
                                            {{ product_form.is_retail_incentive_variant }}&nbsp;&nbsp;Retailer incentive cover
                                        </label>
                                    </div>
                                    <div class="col-sm-offset-4 col-sm-8 p10 pt0">
                                        <label class="control-label">
                                            {{ product_form.is_newsstand_edition }}&nbsp;&nbsp;Newsstand Edition
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="col-xs-3">
                                        <label class="control-label lbl-qty" style="position:relative;top:-2px;font-size:14pt;">Quantity</label>
                                    </div>
                                    <div class="col-xs-3">
                                        <input class="form-control input-lg" value="1" min="1" max="100" name="quantity" id="txt-quantity" type="number">
                                            </div>
                                    <div class="col-xs-6">
                                        <button onclick="ajax_add_items({{ issue.issue_id }});"
                                                   type="button" class="btn btn-labeled btn-lg btn-success pull-right mb mr" style="font-size:14pt;">
                                            <span class="btn-label"><i class="fa fa-plus-square"></i></span>Add Items
                                        </button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-12">
                                <hr class="pb" />
                                <div class="col-sm-12">
                                    <!-- TABLE -->
                                    <div id="id_table_placeholder"
                                        name="id_table_placeholder">
                                    </div>
                                    <!-- /.TABLE -->
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- END panel-->
            </div>
        </div>
    </div>
</section>
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    $(document).ready(function(){
        // Initialize the UI.
        $('#id_section').prop("disabled", true);
        $('#id_label_colour').prop("disabled", true);
        $('#id_cgc_rating_ui').hide();
                      
        // Get the latest table data when this page loads up first.
        ajax_refresh_table({{ issue.issue_id }});
        
        // When the user clicks the 'Store', the 'Sections' will get filtered
        // down to the specific location.
        $('#id_store').on('change', function(){
            var store_id = $(this).val();
            if (store_id > 0)
            {
                ajax_load_section_dropdown({{ issue.issue_id }}, store_id)
            }
        });
        
        // this changes the options available in the condition rating dropdown
        $('#id_is_cgc_rated').on('click', function(){
            if( $(this).is(':checked') ){
                //alert("Checked"); // Debugging Purposes Only
                $('#id_label_colour').prop("disabled", false);
                $('#id_cgc_rating_ui').show();
                $('#id_condition_rating_ui').hide();
            }
            else {
                //alert("unchecked"); // Debugging Purposes Only
                $('#id_label_colour').prop("disabled", true);
                $("#id_label_colour").val($("#target option:first").val());
                $("#id_condition_rating").val($("#target option:first").val());
                $('#id_condition_rating_ui').show();
                $('#id_cgc_rating_ui').hide();
            }
        });
    });
    
    function ajax_load_section_dropdown(issue_id, store_id)
    {
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        jQuery.ajax({
            url: '/inventory/{{ org.org_id }}/{{ store.store_id }}/add/comic/'+issue_id+'/section_dropbox/'+store_id+'',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(html_result){
                // Replace the code
                $('#id_section_placeholder').html(html_result);
            },
            error: function(xhr,status,error) {
            // error code here
                },
            complete: function(xhr,status) {
            // completion code here
            }
        });
    }

    // this is to upload the cover image
    function ajax_upload_image(issue_id) {
        var errors = 0;
        //alert('ajax_upload_logo_image()'); // Debugging Purposes.
    
        if ($('#id_image').val() == "") {
            alert('Please select an image to upload');
            errors++;
        }
    
        if (errors > 0) {
            return false;
        }
    
        // change this to the ajax function call in python
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/add/comic/'+issue_id+'/upload_cover';
    
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('image', document.getElementById('id_image').files[0]);
        jQuery.ajax({
            url: url,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(json_result){
                // If success then update the image, else display error.
                if (json_result.status == "success")
                {
                    $('#logo-image').attr('src', json_result.src);
                    $('#id_hidden_upload_id').val(json_result.id);
                }
                else
                {
                    alert(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
            },
            complete: function(xhr,status) {
                
            }
        });
    }

    function ajax_add_items(issue_id)
    {
        var upload_id = $('#id_hidden_upload_id').val();
        var quantity = $('#txt-quantity').val();
        for (var i = 0; i < quantity; i++)
        {
            ajax_add_item(issue_id, upload_id);
        }
        
    }

    function ajax_add_item(issue_id, upload_id) {
        // change this to the ajax function call in python
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/add/comic/'+issue_id+'/add_product';
    
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        data.append('age', $('#id_age').val());
        data.append('upload_id', upload_id);
        data.append('store', $('#id_store').val());
        data.append('section', $('#id_section').val());
        data.append('price', $('#id_price').val());
        data.append('cost', $('#id_cost').val());
        data.append('is_cgc_rated', $('#id_is_cgc_rated').val());
        data.append('label_colour', $('#id_label_colour').val());
        data.append('cgc_rating', $('#id_cgc_rating').val());
        data.append('condition_rating', $('#id_condition_rating').val());
        data.append('is_canadian_priced_variant', $('#id_is_canadian_priced_variant').val());
        data.append('is_variant_cover', $('#id_is_variant_cover').val());
        data.append('is_retail_incentive_variant', $('#id_is_retail_incentive_variant').val());
        data.append('is_newsstand_edition', $('#id_is_newsstand_edition').val());
        
        jQuery.ajax({
            url: url,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(json_result){
                // If success then update the image, else display error.
                if (json_result.status == "success")
                {
                    // alert("ok saved"); // Debugging Purposes
                    ajax_refresh_table(issue_id);
                }
                else
                {
                    alert(json_result.message);
                }
            },
            error: function(xhr,status,error) {
                console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
            },
            complete: function(xhr,status) {
            
            }
        });
    }


    function ajax_refresh_table(issue_id)
    {
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        jQuery.ajax({
            url: '/inventory/{{ org.org_id }}/{{ store.store_id }}/add/comic/'+issue_id+'/list_products',
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                type: 'POST',
                success: function(html_result){
                    // Replace the code
                    $('#id_table_placeholder').html(html_result);
                },
                error: function(xhr,status,error) {
                    // error code here
                },
                complete: function(xhr,status) {
                    // completion code here
                }
        });
    }

    function ajax_delete_comic(issue_id, comic_id)
    {
        var data = new FormData();
        data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
        jQuery.ajax({
            url: '/inventory/{{ org.org_id }}/{{ store.store_id }}/add/comic/'+issue_id+'/delete/'+comic_id,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'POST',
            success: function(html_result){
                // Update Table.
                ajax_refresh_table(issue_id);
            },
            error: function(xhr,status,error) {
                // error code here
            },
            complete: function(xhr,status) {
                // completion code here
            }
        });
    }

</script>
{% endblock content %}