{% extends 'inventory/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="content-wrapper p0 bg-gray-lighter">
        <div class="header w100 bb m0 p-lg bg-white">
            <h3 class="m0 b0 p0"><em class="fa fa-cog mr"></em>Settings <em class="fa fa-angle-right pl pr"></em>  Stores</h3>
        </div>
        <div class="clearfix"></div>
        <!-- START row 1 -->
        <div class="row">
            <div class="col-sm-12">
                <!-- START panel-->
                <div id="locations-panel" class="clearfix panel panel-default m-lg">
                    <form class="form-horizontal">
                        <div class="panel-tabs w100 p m0">
                            <ul class="tab-list clearfix center-block">
                                <!-- if the store is only selling 1 product type, we don't need the dropdown list -->
                                <li class="tab new-location">
                                    <em class="fa fa-plus-square pr">
                                    </em>Add Store
                                </li>
                                <li class="tab selected">
                                    <a href="/inventory/{{ org_id }}/{{ store_id }}/settings/store/{{ this_store_id }}">Main Location</a>
                                </li>
                                {% for store in stores %}
                                {% if store.store_id != store_id %}
                                <li class="tab">
                                    <a href="/inventory/{{ org_id }}/{{ store_id }}/settings/store/{{ store.store_id }}">{{ store.name }}</a>
                                </li>
                                {% endif %}
                                {% empty %}
                                {% endfor %}
                                </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="panel-body panel-body-main">
                            <div class="col-sm-12 mt-lg">
                                <div class="col-sm-5">
                                    <div class="jumbotron bg-gray-lighter">
                                        <h3 class="p0 mt0 mb-lg">Store Address</h3>
                                        <p class="mb0 text-justify">This is where your customers can find your brick and mortar store.  On your 'About' store page, this will show up on a map of your store locations</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="form-group">
                                        <label for="txt-store-name" class="col-md-4 control-label">Display Name</label>
                                        <div class="col-md-8">
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel-store-province" class="col-md-4 control-label">About</label>
                                        <div class="col-md-8">
                                            {{ form.description }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-store-phone" class="col-md-4 control-label">Phone Number</label>
                                        <div class="col-md-8">
                                            {{ form.phone }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-store-street" class="col-md-4 control-label">Street Number</label>
                                        <div class="col-md-8">
                                            {{ form.street_number }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-store-street" class="col-md-4 control-label">Street Name</label>
                                        <div class="col-md-8">
                                            {{ form.street_name }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-store-street" class="col-md-4 control-label">Unit Number</label>
                                        <div class="col-md-8">
                                            {{ form.unit_number }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-store-city" class="col-md-4 control-label">City</label>
                                        <div class="col-md-8">
                                            {{ form.city }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="txt-store-postcode" class="col-md-4 control-label">Zip/Postal Code</label>
                                        <div class="col-md-8">
                                            {{ form.postal }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel-store-country" class="col-md-4 control-label">Country</label>
                                        <div class="col-md-8">
                                            {{ form.country }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sel-store-province" class="col-md-4 control-label">State/Province</label>
                                        <div class="col-md-8">
                                            {{ form.province }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-12">
                                <hr class="pb" />
                                <div class="col-sm-5">
                                    <div class="jumbotron bg-gray-lighter">
                                        <h3 class="p0 mt0 mb-lg">Store Hours</h3>
                                        <p class="mb0 text-justify">These are the hours that this store is open to customers.  They will appear with this location on your 'About' store page.  Please use 24hr format.</p>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <!-- monday -->
                                    <div class="form-group clearfix">
                                        <label for="txt-store-hours-mon-from" class="col-xs-6 col-md-3 mb control-label">Monday</label>
                                        <div class="col-xs-6 col-md-3 mb">
                                            <div class="checkbox c-checkbox text-center">
                                                <label>
                                                    {{ form.is_open_monday }}
                                                    <span class="fa fa-check"></span>Open
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.monday_to }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.monday_from }}
                                        </div>
                                    </div>
                                    
                                    <!-- tuesday -->
                                    <div class="form-group clearfix">
                                        <label for="txt-store-hours-mon-from" class="col-xs-6 col-md-3 mb control-label">Tuesday</label>
                                        <div class="col-xs-6 col-md-3 mb">
                                            <div class="checkbox c-checkbox text-center">
                                                <label>
                                                    {{ form.is_open_tuesday }}
                                                    <span class="fa fa-check"></span>Open
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.tuesday_to }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.tuesday_from }}
                                        </div>
                                    </div>
                                    
                                    <!-- wednesday -->
                                    <div class="form-group clearfix">
                                        <label for="txt-store-hours-mon-from" class="col-xs-6 col-md-3 mb control-label">Wednesday</label>
                                        <div class="col-xs-6 col-md-3 mb">
                                            <div class="checkbox c-checkbox text-center">
                                                <label>
                                                   {{ form.is_open_wednesday }}
                                                    <span class="fa fa-check"></span>Open
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.wednesday_to }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.wednesday_from }}
                                        </div>
                                    </div>
                                    
                                    <!-- thursday -->
                                    <div class="form-group clearfix">
                                        <label for="txt-store-hours-mon-from" class="col-xs-6 col-md-3 mb control-label">Thursday</label>
                                        <div class="col-xs-6 col-md-3 mb">
                                            <div class="checkbox c-checkbox text-center">
                                                <label>
                                                    {{ form.is_open_thursday }}
                                                    <span class="fa fa-check"></span>Open
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.thursday_to }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.thursday_from }}
                                        </div>
                                    </div>
                                    
                                    <!-- friday -->
                                    <div class="form-group clearfix">
                                        <label for="txt-store-hours-mon-from" class="col-xs-6 col-md-3 mb control-label">Friday</label>
                                        <div class="col-xs-6 col-md-3 mb">
                                            <div class="checkbox c-checkbox text-center">
                                                <label>
                                                    {{ form.is_open_friday }}
                                                    <span class="fa fa-check"></span>Open
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.friday_to }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.friday_from }}
                                        </div>
                                    </div>
                                    
                                    <!-- saturday -->
                                    <div class="form-group clearfix">
                                        <label for="txt-store-hours-mon-from" class="col-xs-6 col-md-3 mb control-label">Saturday</label>
                                        <div class="col-xs-6 col-md-3 mb">
                                            <div class="checkbox c-checkbox text-center">
                                                <label>
                                                    {{ form.is_open_saturday }}
                                                    <span class="fa fa-check"></span>Open
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.saturday_to }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.saturday_from }}
                                        </div>
                                    </div>
                                    
                                    <!-- sunday -->
                                    <div class="form-group clearfix">
                                        <label for="txt-store-hours-mon-from" class="col-xs-6 col-md-3 control-label mb">Sunday</label>
                                        <div class="col-xs-6 col-md-3 mb">
                                            <div class="checkbox c-checkbox text-center">
                                                <label>
                                                   {{ form.is_open_sunday }}
                                                    <span class="fa fa-check"></span>Open
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.sunday_to }}
                                        </div>
                                        <div class="col-xs-6 col-md-3">
                                            {{ form.sunday_from }}
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="col-sm-12">
                                <hr class="pb" />
                                <div class="col-sm-5">
                                    <div class="jumbotron bg-gray-lighter">
                                        <h3 class="p0 mt0 mb-lg">Store Sections</h3>
                                        <p class="mb0 text-justify">Think of a section as 'Wall Rack 1' or 'Sale Bin A' somewhere in your store.  This will appear when you are adding new inventory and help you keep track of your inventory.</p>
                                    </div>
                                </div>
                                <div class="col-sm-offset-1 col-sm-5">
                                    <div class="table-responsive">
                                        <table class="store-section-table table">
                                            <tr>
                                                <th>Section Name</th>
                                                <th>Add/Remove</th>
                                            </tr>
                                            <!-- filled out section -->
                                            <tr>
                                                <td>
                                                    <input type="text" class="store-section form-control" name="store-section[]" placeholder="Enter section name" value="Section A" />
                                                </td>
                                                <td>
                                                    <button type="button" role="button" class="btn btn-danger">
                                                        <em class="section-button fa fa-remove"></em>
                                                    </button>
                                                </td>
                                            </tr>
                                            <!-- filled out section -->
                                            <tr>
                                                <td>
                                                    <input type="text" class="store-section form-control" name="store-section[]" placeholder="Enter section name" value="Section B" />
                                                </td>
                                                <td>
                                                    <button type="button" role="button" class="btn btn-danger">
                                                        <em class="section-button fa fa-remove"></em>
                                                    </button>
                                                </td>
                                            </tr>
                                            <!-- filled out section -->
                                            <tr>
                                                <td>
                                                    <input type="text" class="store-section form-control" name="store-section[]" placeholder="Enter section name" value="Section C" />
                                                </td>
                                                <td>
                                                    <button type="button" role="button" class="btn btn-danger">
                                                        <em class="section-button fa fa-remove"></em>
                                                    </button>
                                                </td>
                                            </tr>
                                            <!-- new section -->
                                            <tr>
                                                <td>
                                                    <input type="text" class="store-section form-control" name="store-section[]" placeholder="Enter section name" />
                                                </td>
                                                <td>
                                                    <button type="button" role="button" class="btn btn-success">
                                                        <em class="section-button fa fa-check"></em>
                                                    </button>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-lg btn-labeled btn-danger pull-left mb mr" style="font-size:14pt;">
                                <span class="btn-label"><i class="fa fa-remove"></i></span>Remove Location
                            </button>
                            <button type="submit" class="btn btn-lg btn-labeled btn-success pull-right mb mr" style="font-size:14pt;">
                                <span class="btn-label"><i class="fa fa-check"></i></span>Save Changes
                            </button>
                        </div>
                    </form>
                </div>
                <!-- END panel-->
            </div>
        </div>
    </div>
</section>


<!-- Page footer-->
<footer>
    <span>&copy; 2015 - Comics Cantina</span>
</footer>

<!----------------------------------------------------------------------------->

<!-- Modal -->
<div id="ajax_modal_placeholder"
   name="ajax_modal_placeholder"></div>
<!-- end modal -->

<!----------------------------------------------------------------------------->

{% include "inventory/setting/store/edit/js.html" %}

{% endblock content %}