{% include 'api/organization.html' %}
{% include 'api/customer.html' %}
{% include 'api/common_js.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });
    
    function ajax_submit()
    {
        var arr = {
            'first_name': $('#id_first_name').val(),
            'last_name': $('#id_last_name').val(),
            'email': $('#id_email').val(),
            'billing_name': $('#id_billing_name').val(),
            'billing_phone': get_phone('#id_billing_phone'),
            'billing_street_number': $('#id_billing_street_number').val(),
            'billing_street_name': $('#id_billing_street_name').val(),
            'billing_unit_number': $('#id_billing_unit_number').val(),
            'billing_city': $('#id_billing_city').val(),
            'billing_country': $('#id_billing_country').val(),
            'billing_province': $('#id_billing_province').val(),
            'billing_postal': $('#id_billing_postal').val(),
            'shipping_name': $('#id_shipping_name').val(),
            'shipping_phone': get_phone('#id_shipping_phone'),
            'shipping_street_number': $('#id_shipping_street_number').val(),
            'shipping_street_name': $('#id_shipping_street_name').val(),
            'shipping_unit_number': $('#id_shipping_unit_number').val(),
            'shipping_city': $('#id_shipping_city').val(),
            'shipping_country': $('#id_shipping_country').val(),
            'shipping_province': $('#id_shipping_province').val(),
            'shipping_postal': $('#id_shipping_postal').val(),
            'has_consented': $('#id_has_consented').is(':checked'),
        };
        
        // If we are editing the customer field.
    {% if form.instance.customer_id > 0 %}
        arr['customer_id'] = {{ form.instance.customer_id }};
    {% endif %}
        
        set_customer(
            arr,
            function(success_json) { // Create a new customer
                // Create our existing customers list.
                var customers = [];
            {% for customer in org.customers.all %}
                customers.push(parseInt( {{ customer.customer_id }} ));
            {% endfor %}
                customers.push(parseInt( success_json['customer_id'] )); // Add our new customer
                    
                // Attach the 'Customer' to the 'Organization'
                var arr = {
                    'administrator': parseInt( {{ org.administrator_id }} ),
                    'org_id': parseInt( {{ org.org_id }} ),
                    'email': '{{ org.email }}',
                    'logo': parseInt( {{ org.logo_id }} ),
                    'name': '{{ org.name }}',
                    'description': '{{ org.description }}',
                    'phone': '{{ org.phone }}',
                    'fax': '{{ org.fax }}',
                    'website': '{{ org.website }}',
                    'twitter_url': '{{ org.twitter_url }}',
                    'facebook_url': '{{ org.facebook_url }}',
                    'instagram_url': '{{ org.instagram_url }}',
                    'linkedin_url': '{{ org.linkedin_url }}',
                    'github_url': '{{ org.github_url }}',
                    'google_url': '{{ org.google_url }}',
                    'youtube_url': '{{ org.youtube_url }}',
                    'flickr_url': '{{ org.flickr_url }}',
                    'street_number': '{{ org.street_number }}',
                    'street_name': '{{ org.street_name }}',
                    'unit_number': '{{ org.unit_number }}',
                    'city': '{{ org.city }}',
                    'country': '{{ org.country }}',
                    'province': '{{ org.province }}',
                    'postal': '{{ org.postal }}',
                    'customers': customers,
                };
            
                set_organization(
                    arr,
                    function(success_json) { // Update Organization
                        // Load up the new location.
                        window.location = '/inventory/{{ org.org_id }}/{{ store.store_id }}/customers';
                    },
                    function(error_json) {
                        for (var key in error_json) {
                            if (error_json.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                             
                                // Display the error here.
                                $(document).trigger("add-alerts",[{
                                    'message': (key+': '+error_json[key]),
                                    'priority': 'error'
                                }]);
                            }
                        }
                    }
                ); // End Org
            },
            function(error_json) {
                for (var key in error_json) {
                    if (error_json.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                     
                        // Display the error here.
                        $(document).trigger("add-alerts",[{
                            'message': (key+': '+error_json[key]),
                            'priority': 'error'
                        }]);
                     }
                }
            }
        ); // End Customer
    }
                     
</script>