{% include 'api/organization.html' %}
{% include 'api/customer.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });
    
    function ajax_submit()
    {
        var data = new FormData();
        data.append('first_name', $('#id_first_name').val());
        data.append('last_name', $('#id_last_name').val());
        data.append('email', $('#id_email').val());
        data.append('billing_name', $('#id_billing_name').val());
        data.append('billing_phone', $('#id_billing_phone').val());
        data.append('billing_street_number', $('#id_billing_street_number').val());
        data.append('billing_street_name', $('#id_billing_street_name').val());
        data.append('billing_unit_number', $('#id_billing_unit_number').val());
        data.append('billing_city', $('#id_billing_city').val());
        data.append('billing_country', $('#id_billing_country').val());
        data.append('billing_province', $('#id_billing_province').val());
        data.append('billing_postal', $('#id_billing_postal').val());
        data.append('shipping_name', $('#id_shipping_name').val());
        data.append('shipping_phone', $('#id_shipping_phone').val());
        data.append('shipping_street_number', $('#id_shipping_street_number').val());
        data.append('shipping_street_name', $('#id_shipping_street_name').val());
        data.append('shipping_unit_number', $('#id_shipping_unit_number').val());
        data.append('shipping_city', $('#id_shipping_city').val());
        data.append('shipping_country', $('#id_shipping_country').val());
        data.append('shipping_province', $('#id_shipping_province').val());
        data.append('shipping_postal', $('#id_shipping_postal').val());
        data.append('has_consented', $('#id_has_consented').is(':checked'));
        
        // Create a new customer
        set_customer(0, data, function() {
            // Load up the new location.
            window.location = '/inventory/{{ org.org_id }}/{{ store.store_id }}/customers';
        });
    }
                     
</script>