{% include 'api/organization.html' %}
{% include 'api/customer.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
    });
    
    function ajax_submit()
    {
        var data = new FormData();
        data.append('first_name', $('#id_first_name').val());
        data.append('last_name', $('#id_last_name').val());
        data.append('email', $('#id_email').val());
        data.append('phone', $('#id_phone').val());
        data.append('street_number', $('#id_street_number').val());
        data.append('street_name', $('#id_street_name').val());
        data.append('unit_number', $('#id_unit_number').val());
        data.append('city', $('#id_city').val());
        data.append('country', $('#id_country').val());
        data.append('province', $('#id_province').val());
        data.append('postal', $('#id_postal').val());
        data.append('has_consented', $('#id_has_consented').is(':checked'));
        
        // Create a new customer
        set_customer(0, data, function() {
            // Load up the new location.
            window.location = '/inventory/{{ org.org_id }}/{{ store.store_id }}/customers';
        });
    }
                     
</script>