<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>E-Cantina Cart Management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/scanner.css" type="text/css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>

<!-- ---------- dashboard ------------- -->
<div data-role="page" id="dashboard" defaultPageTransition="slide">
    <!-- ---------- header------------- -->
    <div data-role="header" data-theme="b" data-id="header-nav" data-position="fixed" >
        <div class="header-logo">
            <img src="img/logo.png" alt="Comics Cantina" />
        </div>
        <div class="header-title">
            <h1>Cart Management</h1>
        </div>
        <div class="header-nav">
            <a href="#nav-panel" class="ui-btn ui-icon-bars ui-btn-icon-notext"></a>
        </div>
    </div>

    <div data-role="panel" data-position="right" data-display="overlay" data-theme="a" id="nav-panel" align="center">
        <img src="img/user.jpg" />
        <div class="text-left">
            <h4 class="text-center">Hi, Rodolfo</h4>
            <div class="divider"></div>
            <h5>Store Name</h5>
            <h5>Store Address</h5>
            <h5>Cart Sessions: 2</h5>
            <h5>Total Sales Today: 12</h5>
        </div>
        <a href="index.html#login-page" onclick="window.location='index.html#login-page';" class="ui-btn ui-shadow ui-corner-all ui-btn-b ui-mini">Logout</a>
    </div><!-- /panel -->

    <!-- ---------- login content ------------- -->
    <div data-role="content" align="center" data-theme="a">
        <div class="row">                            <!-- row -->
            <div class="container">
                <ul data-role="listview" data-inset="true" id="store-select">
                    <li data-role="list-divider"><h4>Store Management</h4></li>
                    <li><a class="ui-icon-shop" onclick="window.location='checkout.html#checkout-main-menu';">Start Checkout</a></li>
                    <li><a class="ui-icon-delete">Remove Item From Inventory</a></li>
                </ul>

                <ul data-role="listview" data-inset="true" id="cart-select">
                    <li data-role="list-divider"><h4>Open Carts</h4><span class="ui-li-count">2</span></li>
                    <li><a onclick="window.location='cart.html#cart-overview';"><span>Cart 1 (2 items)</span><span class="text-right">12:05 PM</span></a></li>
                    <li><a onclick="window.location='cart.html#cart-overview';"><span>Cart 2 (1 item)</span><span class="text-right">1:30 PM</span></a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

<script>
    $(document).ready(function(){

    });
</script>

</body>
</html>