<div class="clearfix"></div>
<!-- START annual sales chart-->
<div class="col-lg-12">
    <!-- START widget flot chart - annual sales -->
    <!-- the data for this chart is loaded in the bottom script -->
    <div id="annual_sales_chart" ng-controller="FlotChartController" class="panel panel-default m-lg">
        <div class="panel-heading">
            <div class="panel-title">Annual Sales</div>
        </div>
        <div collapse="annual_sales_chart" class="panel-wrapper">
            <div class="panel-body">
                <div class="annual_sales flot-chart"></div>
            </div>
        </div>
    </div>
    <!-- END widget-->
</div>