.m0{
    margin: 0 !important;
}
.mb10{
    margin-bottom: 10px !important;
}
.mb0{
    margin-bottom: 0 !important;
}
.mb5{
    margin-bottom: 5px;
}
.mb10{
    margin-bottom: 10px;
}
.mt0{
    margin-top: 0 !important;
}
.mt5{
    margin-top: 5px !important;
}
.mt10{
    margin-top: 10px !important;
}
.mt40{
    margin-top: 40px !important;
}
.ml30{
    margin-left:30px !important;
}

.p0{
    padding: 0 !important;
}
.p7{
    padding: 7px !important;
}
.p10{
    padding: 10px !important;
}
.pr10{
    padding-right: 10px !important;
}
.pt0{
    padding-top: 0 !important;
}
.pb0{
    padding-bottom: 0 !important;
}

.b0{
    border: 0;
}

.curp{
    cursor: pointer !important;
}
.hide{
    display: none !important;
}

.bgwhite{
    background-color: #fff;
}

.row.main-row{
    margin-left:-20px;
    margin-right:-20px;
    background-color:#fff;
    height:100% !important;
}

.w80{
    width: 80%;
}
.w100{
    width: 100%;
}

.wrapper section{
    height: 100% !important;
}

.wrapper section .content-wrapper{
    padding-bottom: 0;
    height: 100% !important;
}

.back-btn{
    margin-top:-55px !important;
    float:right !important;
    width:150px !important;
    margin-right:10px !important;
    font-size:12pt !important;
}

.add-cover-image{
    width: 100%;
    height: 400px;
}

.cc-logo-rect{
    width:320px;
    border-radius:4px;
}

.login-body{
    background-image:url('../img/comicscantina/bg3.jpg');
    background-color: #000;
    background-size: auto;
    background-attachment: fixed;
    background-origin: border-box;
    background-position: top center;
    background-repeat: repeat;
}

.brand-logo h2{
    color: #fff !important;
    margin: 0;
    padding: 0;
}

.brand-logo-collapsed h2{
    color: #fff !important;
    margin: 0;
    margin-top:5px;
    padding: 0;
}

.inventory-search-list{
    border-radius:0;
    margin-bottom:0;
}
.inventory-search-list .list-group-item:first-child{
    border-top:0 !important;
    border-radius:0 !important;
}
.inventory-search-list .list-group-item:last-of-type{
    border-radius:0 !important;
}
.inventory-search-list .list-group-item{
    border-left:0 !important;
    border-right:0 !important;
}
.inventory-details tr td .media .cover-image{
    width:auto;
    height:80px;
}
.list-group .accordion .group .group-header{
    padding-left:20px;
    padding-right:20px;
}
.list-group .accordion .group .group-body .list-group-item{
    padding-left:20px;
    padding-right:20px;
}
#series-adv-search-box, #issues-adv-search-box{
    padding:10px;
    padding-top:5px;
    display:none;
}
#issues-adv-search-box .price-range{
    margin-bottom: -5px;
    margin-top: 10px;
    padding-left: 30px;
}
#issues-adv-search-box .price-range #search-price{
    margin-right: 0px;
    margin-top: 2px;
}
#issues-adv-search-box .price-range #price-amount{
    margin-left: 10px;
    border: 0;
    color: #5cb85c;
    font-weight: bold;
    background-color: transparent;
}
#issues-adv-search-box .price-range #slider-range-price{
    width: 160px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 180px;
    top: -20px;
}
#issues-adv-search-box .control-label input{
    position: relative !important;
    top: 2px !important;
}
#search-issues-list .inventory-search-list .search-list-item .add-btn{
    margin:5px 10px;
    position:relative;
    top:15px;
}
#search-issues-list .inventory-search-list .search-list-item .add-btn .fa-plus-square{
    color: #27C24C;
}
#series-adv-search-box .label-publish-from{
    width: 25%;
    float: left;
    line-height: 35px;
    padding-left: 5px;
}
#series-adv-search-box .label-publish-to{
    width: 25%;
    float: left;
    line-height: 35px;
    padding-left: 5px;
    margin-bottom: 0;
}
#series-adv-search-box .input-publish-from{
    margin-bottom: 5px;
    width: 73%;
    float: right;
}
#series-adv-search-box .input-publish-to{
    width: 73%;
    float: right;
}
.search-list-item .cover-image{
    height:80px;
}
.search-list-item .series-cover-image{
    height:60px;
}
.search-list-item .left-info{
    margin-left:20px;
    padding-top:5px;
}
.search-list-item .right-info{
    margin-right:20px;
    padding-top:10px;
    text-align:center;
}
.search-list-item .caret-r{
    margin: 5px 10px;
}
h4.list-info, h3.list-info{
    margin:0;
    margin-bottom:2px;
}
span.list-info{
    font-size:10pt;
    display:block;
}

.inventory-list{
    border-left:1px solid rgb(207,219,226);
    padding:0;
}

.list-filter-bar{
    background-color:#eee;
    width:100%;
    border-bottom:1px solid rgb(207,219,226);
}

.list-filter-bar h4:first-of-type{
    margin-left:15px;
}

.list-filter-bar h5:first-of-type{
    margin-right:15px;
    font-weight:bold;
    cursor:pointer;
}

.list-filter-bar .search-box{
    width:100%;
    padding:10px;
    padding-bottom:0;
    margin-bottom:0;
}

.results-returned{
    line-height:50px;
    color: #777;
    padding-right:20px;
}

.btn.sort-by{
    margin:10px;
    margin-left:10px !important;
    margin-top:10px;
}

.hrule{
    border-top: 1px solid #ddd;
    margin-bottom: 10px;
}

.lbl-qty{
    line-height:35px;
    width:100%;
    text-align:right;
}

.table-responsive{
    background-color: #fff;
}

#added-items-table{
    text-align: center !important;

}

#added-items-table thead{
    text-align: center !important;
}

#added-items-table thead tr th{
    width: 20%;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

#search-series-list .list-group .list-group-item.search-list-item:hover{
    background-color:#1B9DC5;
    color:#fff !important;
    cursor:pointer;
}

#search-issues-list .list-group .list-group-item.search-list-item:hover{
    cursor:pointer;
    background-color:#eee;
}

.add-loc-modal .modal-dialog{
    width: 50% !important;
}

.table-responsive #added-items-table tbody tr td{
    font-size: 12pt;
}
.table-responsive #added-items-table tbody tr td.price{
    font-size: 14pt;
    font-weight: bold;
}
.table-responsive #added-items-table tbody tr td a.edit-item em{
    color:#5D9CEC;
    position: relative;
    top: 2px;
}
.table-responsive #added-items-table tbody tr td a.remove-item em{
    color:#F05050;
}

.input-disabled{
    color:#666;
    background-color:#fff !important;
    border:0;
    font-weight:bolder;
    font-size:14pt;
}

@media only screen and (min-width: 768px){
    .modal-dialog{
        width:80% !important;
    }
}

@media only screen and (max-width: 767px){
    .modal-dialog{
        width:98% !important;
    }
}