@media print {
    .topnavbar-wrapper{
        display: none;
    }
    .aside{
        display: none;
    }
    .header.w100.bg-white{
        display: none;
    }
    .panel-body.bb{
        display: none;
    }
    .panel.panel-default.m-lg{
        border: none;
    }
    .panel-body.panel-body-main.print-receipt{
        display: block;
    }
}