{% load staticfiles %}
<html lang="en" class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="Bootstrap Admin App + jQuery">
        <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
        <link type="text/plain" rel="author" href="http://www.comicscantina.ca/humans.txt" />
        <title>Comics Cantina</title>
                    
        <!-- Local CSS -->
        {% for local in local_css_library %}
        <link type="{{ local.type }}" rel="{{ local.rel }}" href="{% static local.href %}">
        {% endfor %}
                        
        <!-- Local JS -->
        {% for local in local_js_library_header %}
        <script type="{{ local.type }}" src="{% static local.src %}"></script>
        {% endfor %}
    </head>

    <body>
        <!-- CSRF Token -->
        {% csrf_token %}
        
        <div class="wrapper">
            <div class="block-center mt-xl wd-xl">
                <!-- START panel-->
                <div class="panel panel-dark panel-flat">
                    <div class="panel-heading text-center" style="background:#ccc; color:#fff;">
                        <a href="#">
                            <img src="{% static "inventory/img/logo.png" %}" alt="Image" class="block-center img-rounded">
                        </a>
                    </div>
                    <div class="panel-body">
                        <p class="text-center pv">SIGN IN TO CONTINUE.</p>
                        <form role="form" data-parsley-validate="" novalidate="" class="mb-lg">
                            <div class="form-group has-feedback">
                                {{ form.email }}
                                <ul class="parsley-errors-list" id="parsley-id-7556"></ul>
                                <span class="fa fa-envelope form-control-feedback text-muted"></span>
                            </div>
                            <div class="form-group has-feedback">
                                {{ form.password }}
                                <ul class="parsley-errors-list" id="parsley-id-0276"></ul>
                                <span class="fa fa-lock form-control-feedback text-muted"></span>
                            </div>
                            <div class="clearfix">
                            <div class="checkbox c-checkbox pull-left mt0">
                                <label>
                                    <input type="checkbox" value="" name="remember" data-parsley-multiple="remember" data-parsley-id="0998" disabled="true">
                                    <span class="fa fa-check"></span>Remember Me</label>
                                    <ul class="parsley-errors-list" id="parsley-id-multiple-remember"></ul>
                            </div>
                            <div class="pull-right"><a href="recover.html" class="text-muted">Forgot your password?</a>
                            </div>
                        </div>
                        <button onclick="ajax_authenticate();" type="button" class="btn btn-block btn-primary mt-lg">Login</button>
                    </form>
                    <p class="pt-lg text-center">Need to Signup?</p><a href="register.html" class="btn btn-block btn-default">Register Now</a>
                </div>
            </div>
            <!-- END panel-->
            <div class="p-lg text-center">
                <span>©</span>
                <span>2015</span>
                <span>-</span>
                <span>Angle</span>
                <br>
                <span>Bootstrap Admin Template</span>
            </div>
        </div>
    </div>
    <!-- Local JS -->
    {% for local in local_js_library_body %}
    <script type="{{ local.type }}" src="{% static local.src %}"></script>
    {% endfor %}
    </body>
</html>
{% include "inventory/login/js.html" %}