<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                  
        $('.customer-select li').on('click', function () {
            var option = $(this).find('a').data('option');
                                                  
            $('.tab.selected').removeClass('selected');
                                    
            $(this).addClass('selected');
                                                  
            if (option == 'New Customer') {
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideDown();
            }
            else if (option == 'Returning Customer') {
                $('#new-customer-info-panel').slideUp();
                $('#return-customer-info-panel').slideDown();
            }
            else {
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideUp();
            }
        });
                      
        // the list options holding the autocomplete stuff
        // that should be loaded as the user types with relevant
        // options will hold the customer_id as a data attribute...
        // when selected and the text box value changes, we will load
        // up the customer's information using their id and then fill in
        // the other text fields
        // this is where we handle autocomplete
        $('#txt-searchfname').on('change', function () {
            $('#txt-searchlname').val('Doe');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchlname').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchemail').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchlname').val('Doe');
        });
                      
        $('#cb-include-tax').on('change', function(){
            if( $(this).is(':checked') ){
                $('#tax-total').addClass('text-muted');
            }
            else{
                $('#tax-total').removeClass('text-muted');
            }
        });
        
        // Scan the products in the cart.
        render_cart_content();
    });
    
    function render_cart_content()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ cart.cart_id }}/items/content';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               $('#id_content_placeholder').html(result); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Deletes the product from the inventory and refreshes the table.
     */
    function update_cart_products(products)
    {
            
        /////////////////
        // UPDATE CART //
        /////////////////
        var data = new FormData();
        data.append('format', 'json');
        data.append('employee', '{{ cart.employee_id }}');
        data.append('cart_id', '{{ cart.cart_id }}');
        data.append('is_closed', 'false');
        data.append('customer', '{{ cart.customer_id }}');
        
        // Note: If we don't have any items left, then leave out this field.
        if (products.length > 0)
        {
            data.append('products', products);
        }
        
        var url = "/api/carts/{{ cart.cart_id }}/";
        jQuery.ajax({
            url: url,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'PUT',
            success: function(json_result){
                render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
                console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
                alert(xhr.responseText);
            },
            complete: function(xhr,status) {
                    
            }
        }); // End Cart jQuery
    }

    /**
     *  Function will change how discounts are handled. Either discounts
     *  will be amounts or percentages.
     */
    function change_discount_type(product_id)
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ cart.cart_id }}/items/';
        url += product_id + '/change_discount_type';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will apply the discount to the particular item.
     */
    function change_discount_amount(product_id)
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ cart.cart_id }}/items/';
        url += product_id + '/change_discount_amount';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
               'discount': $('#id_discount_'+product_id).val(),
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    function change_tax()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ cart.cart_id }}/items/change_tax';
    
        $.ajax( url, {
           data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
           },
           type: 'post',
           success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
           },
           error: function(xhr,status,error) {
               // error code here
           },
           complete: function(xhr,status) {
               // completion code here
           }
        });
    }

    /**
     *  Function will verify that all the products are valid to checkout
     *  and then procceeds to checkout the order by making the products
     *  sold and give the customer/guest a purchase record.
     */
    function checkout()
    {
        
    }
</script>