{% include 'api/receipt.html' %}
<!-- INVENTORY CHECKOUT JAVASCRIPT FILE STARTS HERE -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                      
        // Check to see if this receipt has already been processed.
        // If it already has then leave UI.
        if ('{{ receipt.has_finished }}' == 'True') {
            window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout';
        }
                      
        $('.customer-select li').on('click', function () {
            var option = $(this).find('a').data('option');
                                                  
            $('.tab.selected').removeClass('selected');
                                    
            $(this).addClass('selected');
                                                  
            if (option == 'New Customer') {
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideDown();
            }
            else if (option == 'Returning Customer') {
                $('#new-customer-info-panel').slideUp();
                $('#return-customer-info-panel').slideDown();
            }
            else {
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideUp();
            }
        });
                      
        // the list options holding the autocomplete stuff
        // that should be loaded as the user types with relevant
        // options will hold the customer_id as a data attribute...
        // when selected and the text box value changes, we will load
        // up the customer's information using their id and then fill in
        // the other text fields
        // this is where we handle autocomplete
        $('#txt-searchfname').on('change', function () {
            $('#txt-searchlname').val('Doe');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchlname').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchemail').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchlname').val('Doe');
        });
                      
        $('#cb-include-tax').on('change', function(){
            if( $(this).is(':checked') ){
                $('#tax-total').addClass('text-muted');
            }
            else{
                $('#tax-total').removeClass('text-muted');
            }
        });
        
        // Scan the products in the cart.
        render_cart_content();
                      
        // The following code will poll the server every 10 seconds to see if
        // we have the latest data.
        //window.setInterval(function(){
        //   render_cart_content();
        //}, 5000);
    });
    
    /**
     *  Function calls a custom view which will return a table of the products
     *  with functionality in it.
     */
    function render_cart_content()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/content';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               $('#id_content_placeholder').html(result); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Deletes the product from the inventory and refreshes the table.
     */
    function remove_product(product_id)
    {
        //---------
        // Step 1:
        //---------
        //Remove the specific product from the products list.
        
        // Add all the products that exist for the cart.
        var products = new Array();
        {% for product in receipt.products.all %}products.push({{ product.product_id }});{% endfor %}
        
        // Remove the specific product_id from the cart and update.
        for(var i = products.length-1; i >= 0; i--){  // STEP 1
            if(products[i] == product_id){            // STEP 2
                products.splice(i,1);                 // STEP 3
            }
        }

        //---------
        // Step 2:
        //---------
        // Update Receipt to the latest products list.
        // Update the receipt and then do nothing.
        set_receipt({
            'purchased': '{{ receipt.purchased|date:"c" }}',
            'organization': {{ receipt.organization_id }},
            'store': {{ receipt.store_id }},
            'employee': {{ receipt.employee_id }},
            'receipt_id': {{ receipt.receipt_id }},
            'customer': {{ receipt.customer_id }},
            'payment_method': {{ receipt.payment_method }},
            'has_purchased_online': '{{ receipt.has_purchased_online }}',
            'has_tax': '{{ receipt.has_tax }}',
            'tax_rate': {{ receipt.tax_rate }},
            'tax_amount': {{ receipt.tax_amount }},
            'sub_total': {{ receipt.sub_total }},
            'discount_amount': {{ receipt.discount_amount }},
            'total_amount': {{ receipt.total_amount }},
            'has_finished': '{{ receipt.has_finished }}',
            'has_paid': '{{ receipt.has_paid }}',
            'status': {{ receipt.status }},
            'has_error': '{{ receipt.has_error }}',
            'error': {{ receipt.error }},
            'billing_name': "{{ receipt.billing_name | escape | safe }}",
            'billing_address': "{{ receipt.billing_address | escape | safe }}", 
            'email': '{{ receipt.email }}',
            'billing_phone': '{{ receipt.billing_phone }}',
            'billing_city': "{{ receipt.billing_city | escape | safe }}",
            'billing_province': "{{ receipt.billing_province | escape | safe }}",
            'billing_country': "{{ receipt.billing_country | escape | safe }}",
            'billing_postal': "{{ receipt.billing_postal | escape | safe }}",
            'shipping_name': "{{ receipt.shipping_name | escape | safe }}",
            'shipping_address': "{{ receipt.shipping_address | escape | safe }}",
            'shipping_phone': '{{ receipt.shipping_phone }}',
            'shipping_city': "{{ receipt.shipping_city | escape | safe }}",
            'shipping_province': "{{ receipt.shipping_province | escape | safe }}",
            'shipping_country': "{{ receipt.shipping_country  | escape | safe }}",
            'shipping_postal': "{{ receipt.shipping_postal | escape | safe }}",
            'products': products,
            }, function(json_result) {
                render_cart_content(); // Update UI.
            }
        );
    }

    /**
     *  Function will change how discounts are handled. Either discounts
     *  will be amounts or percentages.
     */
    function change_discount_type(product_id)
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/';
        url += product_id + '/change_discount_type';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will apply the discount to the particular item.
     */
    function change_discount_amount(product_id)
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/';
        url += product_id + '/change_discount_amount';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
               'discount': $('#id_discount_'+product_id).val(),
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    function change_tax()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/change_tax';
    
        $.ajax( url, {
           data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
           },
           type: 'post',
           success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
           },
           error: function(xhr,status,error) {
               // error code here
           },
           complete: function(xhr,status) {
               // completion code here
           }
        });
    }

    /**
     *  Function will verify that all the products are valid to checkout
     *  and then procceeds to checkout the order by making the products
     *  sold and give the customer/guest a purchase record.
     */
    function checkout()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/verify';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               if (result['status'] == 'success') {
                    // If we successfully verified the cart, then handle
                    // processing the checkout.
                    process_cart();
               }
               else {
                    alert("Error, a product item is already sold out and reserved - you cannot purchase.");
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    function process_cart()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/process_receipt';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               if (result['status'] == 'success') {
                    window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/receipt';
               }
               else {
                    alert(result['message']);
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    function ajax_cancel_cart()
    {
        delete_receipt({{ receipt.receipt_id }}, function(json_result) {
                   window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout';
        });
    }
</script>