{% extends 'inventory/base.html' %}
{% load staticfiles %}
{% block content %}

<!-- Main section-->
<section>
    <!-- Page content-->
    <div class="content-wrapper p0 bg-gray-lighter">
        <div class="header w100 bb m0 p-lg bg-white">
            <h3 class="m0 b0 p0"><em class="fa fa-shopping-cart mr"></em>Point of Sale <em
                class="fa fa-angle-right pl pr"></em>
            Checkout</h3>
        </div>
        <div class="clearfix"></div>
        <!-- START row 1 -->
        <div class="row">
            <div class="col-sm-12">
                <!-- START panel-->
                <div class="panel panel-default m-lg">
                    <div class="panel-body bb">
                        <div class="wizard clearfix">
                            <div class="steps clearfix">
                                <div aria-disabled="true" class="block-center first disabled col-xs-12 col-sm-4">
                                    <a id="steps-uid-0-t-0" href="#steps-uid-0-h-0" aria-controls="steps-uid-0-p-0">
                                        <span class="number">1.</span> Customer Information<br>
                                        <small>Enter customer name and address info</small>
                                    </a>
                                </div>
                                <div aria-selected="true" aria-disabled="false" class="block-center current col-xs-12 col-sm-4">
                                    <a id="steps-uid-0-t-1" href="#steps-uid-0-h-1" aria-controls="steps-uid-0-p-1">
                                        <span class="number">2.</span> Cart Items<br>
                                        <small>Scan items in cart</small>
                                    </a>
                                </div>
                                <div aria-disabled="true" class="block-center disabled col-xs-12 col-sm-4">
                                    <a id="steps-uid-0-t-2" href="#steps-uid-0-h-2" aria-controls="steps-uid-0-p-2">
                                        <span class="number">3.</span> Receipt<br>
                                        <small>Print final sales receipt</small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="list-filter-bar" class="clearfix navbar-inverse" style="background-color:#eee;width:100%;border-bottom:1px solid rgb(207,219,226);">
                        <div class="pull-left">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-sm dropdown-toggle" style="margin:3px;margin-right:3px;" data-toggle="dropdown" aria-expanded="false">
                                    Sort By&nbsp;&nbsp;<span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">Description&nbsp;&nbsp;<em class="fa fa-sort-alpha-asc" style="top:2px;"></em></a></li>
                                    <li><a href="#">Unit Price</a></li>
                                    <li><a href="#">Discount (%)</a></li>
                                    <li><a href="#">Discount ($)</a></li>
                                    <li><a href="#">Total</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="pull-right;" style="float:right;">
                            <div class="input-group input-group-sm pull-right" style="width:400px;margin-top:3px;margin-right:10px;">
                                <input class="form-control" placeholder="Search for..." type="text">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" style="margin-top:0px;">Search Cart Items
                                        </button>
                                    </span>
                                    </div>
                            <!-- /input-group -->
                        </div>
                    </div>
                    <div class="panel-body pt0">
                        <div class="col-sm-12">
                            <div class="row clearfix" style="margin-left:-20px;margin-right:-20px;height:100% !important;">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="text-center" style="width:20%">Remove Item</th>
                                            <th style="width:20%;">Description</th>
                                            <th style="width:20%;">Unit Price</th>
                                            <th style="width:20%;">Discount</th>
                                            <th style="width:20%;" class="text-right pr-xl">Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="text-center text-danger"><button type="button" class="btn btn-sm btn-danger" style="width:37px;">
                                                <em class="fa fa-remove center-block text-center p-sm"></em>
                                            </button></td>
                                            <td>Series A - Issue #1</td>
                                            <td>$ 200</td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control pull-left" value="0" style="width:36px;padding:5px;" type="text">
                                                        <select class="form-control pull-right" style="width:40px;padding:5px;">
                                                            <option value="percent">%</option>
                                                            <option value="dollars">$</option>
                                                        </select>
                                                        </div>
                                            </td>
                                            <td class="text-right pr-xl">$ 600</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center text-danger"><button type="button" class="btn btn-sm btn-danger" style="width:37px;">
                                                <em class="fa fa-remove center-block text-center p-sm"></em>
                                            </button></td>
                                            <td>Series A - Issue #1</td>
                                            <td>$ 500</td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control pull-left" value="0" style="width:36px;padding:5px;" type="text">
                                                        <select class="form-control pull-right" style="width:40px;padding:5px;">
                                                            <option value="percent">%</option>
                                                            <option value="dollars">$</option>
                                                        </select>
                                                        </div>
                                            </td>
                                            <td class="text-right pr-xl">$ 2500</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center text-danger"><button type="button" class="btn btn-sm btn-danger" style="width:37px;">
                                                <em class="fa fa-remove center-block text-center p-sm"></em>
                                            </button></td>
                                            <td>Series A - Issue #1</td>
                                            <td>$ 650</td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control pull-left" value="0" style="width:36px;padding:5px;" type="text">
                                                        <select class="form-control pull-right" style="width:40px;padding:5px;">
                                                            <option value="percent">%</option>
                                                            <option value="dollars">$</option>
                                                        </select>
                                                        </div>
                                            </td>
                                            <td class="text-right pr-xl">$ 650</td>
                                        </tr>
                                        <tr>
                                            <td class="text-center text-danger"><button type="button" class="btn btn-sm btn-danger" style="width:37px;">
                                                <em class="fa fa-remove center-block text-center p-sm"></em>
                                            </button></td>
                                            <td>Series A - Issue #1</td>
                                            <td>$ 1100</td>
                                            <td>
                                                <div class="input-group">
                                                    <input class="form-control pull-left" value="0" style="width:36px;padding:5px;" type="text">
                                                        <select class="form-control pull-right" style="width:40px;padding:5px;">
                                                            <option value="percent">%</option>
                                                            <option value="dollars">$</option>
                                                        </select>
                                                        </div>
                                            </td>
                                            <td class="text-right pr-xl">$ 6600</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row mb-lg">
                                <div class="col-sm-offset-8 col-sm-4 pv">
                                    <div class="clearfix">
                                        <p class="pull-left">Subtotal</p>
                                        
                                        <p class="pull-right mr-sm">$ 10300</p>
                                    </div>
                                    <div class="clearfix">
                                        <div class="checkbox c-checkbox pull-left mr-xl">
                                            <label>
                                                <input id="cb-include-tax" name="include-taxes" type="checkbox">
                                                    <span class="fa fa-check"></span>&nbsp;&nbsp;&nbsp;&nbsp;Include tax in sub-total
                                                    </label>
                                        </div>
                                    </div>
                                    <div id="tax-total" class="clearfix">
                                        <p class="pull-left">Tax (21%)</p>
                                        
                                        <p class="pull-right mr-sm">$ 2700</p>
                                    </div>
                                    <div class="clearfix">
                                        <p class="pull-left h3">GRAND TOTAL</p>
                                        
                                        <p class="pull-right mr-sm h3">$ 13000</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="panel-footer">
                        <div class="col-md-4 text-center">
                            <button type="button" class="btn btn-lg btn-labeled btn-danger mb" style="font-size:14pt;" onclick="window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ store.store_id }}/customer';">
                                <span class="btn-label"><i class="fa fa-remove"></i></span>Cancel checkout
                            </button>
                        </div>
                        <div class="col-md-4 text-center">
                            <button type="submit" class="btn btn-lg btn-labeled btn-primary mb" style="font-size:14pt;" onclick="window.location='pos_checkout_wizard_1.html';">
                                <span class="btn-label"><i class="fa fa-edit"></i></span>Edit customer info
                            </button>
                        </div>
                        <div class="col-md-4 text-center">
                            <button type="submit" class="btn btn-lg btn-labeled btn-success mb" style="font-size:14pt;" onclick="window.location='pos_checkout_wizard_3.html';">
                                <span class="btn-label"><i class="fa fa-dollar"></i></span>Payment completed
                            </button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <!-- end panel -->
            </div>
        </div>
    </div>
</section>

{% include "inventory_checkout/receipt/js.html" %}

{% endblock content %}