<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                      
        // Check to see if this receipt has already been processed.
        // If it already has then leave UI.
        if ('{{ receipt.has_finished }}' == 'True') {
            window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout';
        }
                      
        $('.customer-select li').on('click', function () {
            var option = $(this).find('a').data('option');
                                                  
            $('.tab.selected').removeClass('selected');
                                    
            $(this).addClass('selected');
                                                  
            if (option == 'New Customer') {
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideDown();
            }
            else if (option == 'Returning Customer') {
                $('#new-customer-info-panel').slideUp();
                $('#return-customer-info-panel').slideDown();
            }
            else {
                $('#return-customer-info-panel').slideUp();
                $('#new-customer-info-panel').slideUp();
            }
        });
                      
        // the list options holding the autocomplete stuff
        // that should be loaded as the user types with relevant
        // options will hold the customer_id as a data attribute...
        // when selected and the text box value changes, we will load
        // up the customer's information using their id and then fill in
        // the other text fields
        // this is where we handle autocomplete
        $('#txt-searchfname').on('change', function () {
            $('#txt-searchlname').val('Doe');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchlname').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchemail').val('test@email.com');
        });
                      
        // this is where we handle autocomplete
        $('#txt-searchemail').on('change', function () {
            $('#txt-searchfname').val('John');
            $('#txt-searchlname').val('Doe');
        });
                      
        $('#cb-include-tax').on('change', function(){
            if( $(this).is(':checked') ){
                $('#tax-total').addClass('text-muted');
            }
            else{
                $('#tax-total').removeClass('text-muted');
            }
        });
        
        // Scan the products in the cart.
        render_cart_content();
    });
    
    function render_cart_content()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/content';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               $('#id_content_placeholder').html(result); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Deletes the product from the inventory and refreshes the table.
     */
    function update_cart_products(products)
    {
            
        /////////////////
        // UPDATE CART //
        /////////////////
        var data = new FormData();
        data.append('format', 'json');
        data.append('organization', '{{ receipt.org_id }}');
        data.append('store', '{{ receipt.store_id }}');
        data.append('employee', '{{ receipt.employee_id }}');
        data.append('receipt_id', '{{ receipt.receipt_id }}');
        data.append('customer', '{{ receipt.customer }}');
        data.append('payment_method', '{{ receipt.payment_method }}');
        data.append('has_purchased_online', '{{ receipt.has_purchased_online }}');
        data.append('has_tax', '{{ receipt.has_purchased_online }}');
        data.append('tax_rate', '{{ receipt.tax_rate }}');
        data.append('tax_amount', '{{ receipt.tax_amount }}');
        data.append('sub_total', '{{ receipt.sub_total }}');
        data.append('discount_amount', '{{ receipt.discount_amount }}');
        data.append('total_amount', '{{ receipt.total_amount }}');
        data.append('has_finished', '{{ receipt.has_finished }}');
        data.append('has_paid', '{{ receipt.has_paid }}');
        data.append('status', '{{ receipt.status }}');
        data.append('billing_name', '{{ receipt.billing_name }}');
        data.append('billing_address', '{{ receipt.billing_address }}');
        data.append('billing_email', '{{ receipt.billing_email }}');
        data.append('billing_phone', '{{ receipt.billing_phone }}');
        data.append('billing_city', '{{ receipt.billing_city }}');
        data.append('billing_province', '{{ receipt.billing_province }}');
        data.append('billing_country', '{{ receipt.billing_country }}');
        data.append('billing_postal', '{{ receipt.billing_postal }}');
        data.append('shipping_name', '{{ receipt.shipping_name }}');
        data.append('shipping_address', '{{ receipt.shipping_address }}');
        data.append('shipping_email', '{{ receipt.shipping_email }}');
        data.append('shipping_phone', '{{ receipt.shipping_phone }}');
        data.append('shipping_city', '{{ receipt.shipping_city }}');
        data.append('shipping_province', '{{ receipt.shipping_province }}');
        data.append('shipping_country', '{{ receipt.shipping_country }}');
        data.append('shipping_postal', '{{ receipt.shipping_postal }}');
        
        // Note: If we don't have any items left, then leave out this field.
        if (products.length > 0)
        {
            data.append('products', products);
        }
        
        var url = "/api/receipts/{{ receipt.receipt_id }}/";
        jQuery.ajax({
            url: url,
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            type: 'PUT',
            success: function(json_result){
                render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
                console.debug(status + ': ' + error + ' -- ' + xhr.responseText);
                alert(xhr.responseText);
            },
            complete: function(xhr,status) {
                    
            }
        }); // End Cart jQuery
    }

    /**
     *  Function will change how discounts are handled. Either discounts
     *  will be amounts or percentages.
     */
    function change_discount_type(product_id)
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/';
        url += product_id + '/change_discount_type';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     *  Function will apply the discount to the particular item.
     */
    function change_discount_amount(product_id)
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/';
        url += product_id + '/change_discount_amount';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
               'discount': $('#id_discount_'+product_id).val(),
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    function change_tax()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/change_tax';
    
        $.ajax( url, {
           data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
           },
           type: 'post',
           success: function(result) {
               // success code execution here
               render_cart_content(); // Update UI.
           },
           error: function(xhr,status,error) {
               // error code here
           },
           complete: function(xhr,status) {
               // completion code here
           }
        });
    }

    /**
     *  Function will verify that all the products are valid to checkout
     *  and then procceeds to checkout the order by making the products
     *  sold and give the customer/guest a purchase record.
     */
    function checkout()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/verify';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               if (result['status'] == 'success') {
                    // If we successfully verified the cart, then handle
                    // processing the checkout.
                    process_cart();
               }
               else {
                    alert("Error, a product item is already sold out and reserved - you cannot purchase.");
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    function process_cart()
    {
        var url = '/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/items/process_receipt';
        
        $.ajax( url, {
            data: {
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(result) {
               // success code execution here
               if (result['status'] == 'success') {
                    window.location='/inventory/{{ org.org_id }}/{{ store.store_id }}/checkout/{{ receipt.receipt_id }}/receipt';
               }
               else {
                    alert(result['message']);
               }
            },
            error: function(xhr,status,error) {
               // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }
</script>