{% load staticfiles %}
<script>
    function ajax_login_customer2()
    {
        var email = $("#id_login_username2").val();
        var password = $("#id_login_password2").val();
        var url = '/store/login_authentication';
        
        $.ajax( url, {
            data: {
               'username': email,
               'password': password,
               'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            type: 'post',
            success: function(json_result) {
               
               
               // success code execution here
               if (json_result.status == "success")
               {
                   window.location = "/{% if org != None %}{{ org.org_id }}/{% endif %}{% if store != None %}{{ store.store_id }}/{% endif %}customer/my_account";
               }
               else
               {
                   print_error(json_result);
               }
            },
            error: function(xhr,status,error) {
               console.log(error); // error code here
            },
            complete: function(xhr,status) {
               // completion code here
            }
        });
    }

    /**
     * Prints a error box with the contents of the errors received from the server.
     */
    function print_error(error_json)
    {
        $('#error_box').prop("hidden", false); // Display error box.
        var message = "<b>Error(s):</b><hr/>";
        for (var key in error_json) {
            if (error_json.hasOwnProperty(key)) { // this will check if key is owned by data object and not by any of it's ancestors
                message += "<p>" + key + ": " + error_json[key] + "<p>";
            }
        }
        $('#error_box').html(message); // Replace the error string with the contents of the error box.
    }

</script>