{% include 'api/imageupload.html' %}
{% include 'api/organization.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                  
        $(function() {
            var availableTags = [
                "Ontario",
                "Quebec",
                "Nova Scotia",
                "New Brunswick",
                "Manitoba",
                "British Columbia",
                "Prince Edward Island",
                "Saskatchewan",
                "Alberta",
                "Newfoundland and Labrador",
            ];
            $( "#id_province" ).autocomplete({
                source: availableTags
            });
        });
                      
        $(function() {
            var availableTags = [
                "Canada",
                "United States",
            ];
            $( "#id_country" ).autocomplete({
                source: availableTags
            });
        });
    });

    // this is to upload the cover image
    function ajax_upload_image() {
        if ($('#id_image').val() == "") {
           alert('Please select an image to upload');
           return false;
        }
    
        // Extract the information.
        var image = document.getElementById('id_image').files[0];
        var upload_id = $('#id_hidden_upload_id').val();
    
        // Insert or Update.
        set_imageupload(upload_id, false, image, 0, function(json_result) {
            $('#logo-image').attr('src', json_result['image']);
            $('#id_hidden_upload_id').val(json_result['upload_id']);
        });
    }

    function ajax_save() {
        // Create our existing customers list.
        var customers = [];
    {% for customer in org.customers.all %}
        customers.push(parseInt( {{ customer.customer_id }} ));
    {% endfor %}
        
        parseInt( $('#id_hidden_upload_id').val() )
        
        var arr = {
            'customers': customers,
            'administrator': parseInt( {{ org.administrator_id }} ),
            'org_id': {{ org.org_id }},
            'email': $('#id_email').val(),
            'logo': $('#id_hidden_upload_id').val(),
            'name': $('#id_name').val(),
            'description': $('#id_description').val(),
            'phone': $('#id_phone').val(),
            'fax': $('#id_fax').val(),
            'website': $('#id_website').val(),
            'twitter_url': $('#id_twitter_url').val(),
            'facebook_url': $('#id_facebook_url').val(),
            'instagram_url': '',
            'linkedin_url': '',
            'github_url': '',
            'google_url': '',
            'youtube_url': '',
            'flickr_url': '',
            'street_number': $('#id_street_number').val(),
            'street_name': $('#id_street_name').val(),
            'unit_number': $('#id_unit_number').val(),
            'city': $('#id_city').val(),
            'country': $('#id_country').val(),
            'province': $('#id_province').val(),
            'postal': $('#id_postal').val(),
        };
                
        // Send the "FormData" object to be sent through REST and get updated.
        set_organization(arr,
            function(success_json) {
                window.location = '';
            }, // success
            function(error_json) {
                for (var key in error_json) {
                    // this will check if key is owned by data object and not by any of it's ancestors
                    if (error_json.hasOwnProperty(key)) {
                         // Display the error here.
                         $(document).trigger("add-alerts",[{
                            'message': (key+': '+error_json[key]),
                            'priority': 'error'
                        }]);
                    }
                }
            }
        );
    }
</script>