{% load staticfiles %}
{% include 'api/pulllist.html' %}
{% include 'api/pulllistsubscription.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                      
        
    });

    function ajax_subscribe(pulllist_id)
    {
        var copies = $('#id_copies_id_' + pulllist_id).val();
        if (copies <= 0) {
            alert("Copies ordered must be greater then zero.");
            return;
        }
        var data = {
            'pulllist': pulllist_id,
            'organization': {{ org.org_id }},
            'customer': {{ customer.customer_id }},
            'copies': copies
        };
        set_subscription(data, function(json_result) {
            location.reload(true); // Reload page with cache cleared.
        });
    }

</script>