<div class="table-responsive" style="background-color:#fafafa;padding-left:20px;padding-right:20px;">
    <table class="table">
        <thead>
            <tr>
                <th>Series Name</th>
                <th>Publisher</th>
                <th>Date Published</th>
                <th style="width:10%;">Copies Ordered</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           {% for pulllist in pulllists %}
           <tr>
                <td>{{ pulllist.series }}</td>
                <td>{{ pulllist.series.publisher }}</td>
                <td>{% if pullist.series.year_began_uncertain == True %}?{% else %}{{ pulllist.series.year_began }}{% endif %} - {% if pulllist.series.year_ended_uncertain == True %}?{% else %}{{ pulllist.series.year_ended }}{% endif %}</td>
                <td><input id="id_copies_id_{{ pulllist.pulllist_id }}"
                         type="text" class="subscribe-count form-control" value="0" /></td>
                <td>
                    <button onclick="ajax_subscribe({{ pulllist.pulllist_id }});"
                              class="btn btn-sm btn-labeled btn-success pull-left mb mr mt-sm">
                        <span class="btn-label"><i class="fa fa-plus"></i></span>Subscribe
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>