<div class="table-responsive" style="background-color:#fafafa;padding-left:20px;padding-right:20px;">
    <table class="table">
        <thead>
            <tr>
                <th>Series Name</th>
                <th>Publisher</th>
                <th>Date Published</th>
                <th>Genre</th>
                <th style="width:10%;">Copies Ordered</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Batman Annual (2006)</td>
                <td>DC</td>
                <td>08/01/2015 - 08/01/2015</td>
                <td>Detective</td>
                <td><input type="text" class="subscribe-count form-control" value="0" /></td>
                <td>
                    <button class="btn btn-sm btn-labeled btn-success pull-left mb mr mt-sm">
                        <span class="btn-label"><i class="fa fa-plus"></i></span>Subscribe
                    </button>
                </td>
            </tr>
            <tr>
                <td>Batman (2011)</td>
                <td>DC</td>
                <td>08/01/2015 - 08/01/2015</td>
                <td>Detective</td>
                <td><input type="text" class="subscribe-count form-control" value="0" /></td>
                <td>
                    <button class="btn btn-sm btn-labeled btn-success pull-left mb mr mt-sm">
                        <span class="btn-label"><i class="fa fa-plus"></i></span>Subscribe
                    </button>
                </td>
            </tr>
            <tr>
                <td>Batman (1966)</td>
                <td>New American Library</td>
                <td>08/01/2015 - 08/01/2015</td>
                <td>Detective</td>
                <td><input type="text" class="subscribe-count form-control" value="0" /></td>
                <td>
                    <button class="btn btn-sm btn-labeled btn-success pull-left mb mr mt-sm">
                        <span class="btn-label"><i class="fa fa-plus"></i></span>Subscribe
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
