{% load staticfiles %}
{% include 'api/organization.html' %}
{% include 'api/employee.html' %}
{% include 'api/customer.html' %}
{% include 'api/common_js.html' %}
{% include 'store_base/receipt_js.html' %}
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                      
        {% if employee %}
            window.location = "/inventory/register/step2";
        {% endif %}
    });


    function ajax_proceed_next()
    {
        create_org(function(organization) {
            create_owner(organization, function(owner) {
                 window.location = "/inventory/register/step2";
            });
        });
    }

    function create_org(callback)
    {
        var data = {
            'administrator': {{ user.id }},
            'email': '{{ org.email }}',
            //'logo': parseInt( {{ org.logo_id }} ),
            'name': "Comics Cantina",
            'description': "",
            'phone': '{{ customer.billing_phone }}',
            'street_number': '{{ customer.billing_street_number }}',
            'street_name': "{{ customer.billing_street_name | escape | safe }}",
            'unit_number': '{{ customer.billing_unit_number }}',
            'city': "{{ customer.billing_city }}",
            'country': "{{ customer.billing_country }}",
            'province': "{{ customer.billing_province | escape | safe }}",
            'postal': '{{ customer.billing_postal }}',
            'paypal_email': "{{ customer.email | escape | safe }}",
        };
        
        set_organization(
            data,
            function(success_json) {
                callback(success_json); // Return newly created organization.
            },
            function(failure_json) {
                console.log(failure_json);
            }
        );
    }

    function create_owner(organization, callback) {
        // Create a new owner employee.
        var data = {
            'user': {{ user.id }},
            'organization': organization['org_id'],
            'role': 1, // AKA "Owner".
            'is_tos_signed': true,
            'is_suspended': false,
            // 'profile': upload_id,
        };
        set_employee(
            data,
            function(success_json) {
                callback(success_json); // Return the newly created employee.
            },
            function(failure_json) {
                console.log(failure_json);
            }
        );
    }

</script>