{% load staticfiles %}
{% include 'api/organization.html' %}
{% include 'api/series.html' %}
<!-- this is mainly for data that needs to be loaded when the page is loaded -->
<script>
    //-------------------------------------//
    // Fix jQuery CSFR Code Issue - 1 of 2 //
    //-------------------------------------//
    // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(function () {
        //-------------------------------------//
        // Fix jQuery CSFR Code Issue - 2 of 2 //
        //-------------------------------------//
        // Note: https://docs.djangoproject.com/en/1.8/ref/csrf/
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                }
            }
        });
                  
        // DYNAMIC SEARCHING (AKA AJAX SEARCHING)
        // The following code will provide all the necessary functions
        // which allow dynamic searching of comic books...
        //
        // Whenever user starts typing a textbox, start dynamically
        // making ajax calls to look up the results.
        var thread = null;
                      
        function lookupComics() {
            var series =  $('#id_series').val();
            var publisher =  $('#id_publisher').val();
            var language_id = 25;
            var country_id = 225;
            //var language =  $('#id_language').val();
            //var country =  $('#id_country').val();
            var from =  $('#id_from').val();
            var to =  $('#id_to').val();
                    
            // Call our application and return results.
            ajax_search_comics(series, publisher, from, to, language_id, country_id);
        }
                    
        // SERIES
        $('#id_series').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupComics(); }, 500);
        });
                    
        // PUBLISHER
        $('#id_publisher').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupComics(); }, 500);
        });
                      
        // FROM
        $('#id_from').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupComics(); }, 500);
        });
                      
        // TO
        $('#id_to').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupComics(); }, 500);
        });
                      
        // LANGUAGE
        $('#id_language').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupComics(); }, 500);
        });
                      
        // COUNTRY
        $('#id_country').keyup(function() {
            clearTimeout(thread);
            thread = setTimeout(function() { lookupComics(); }, 500);
        });

        $('body').on('mouseover', '.product-item', function(){
            $(this).find('.btn-add-cart').css('display','block');
            $(this).find('.btn-view-details').css('display','block');
        });

        $('body').on('mouseout', '.product-item', function(){
            $(this).find('.btn-add-cart').css('display','none');
            $(this).find('.btn-view-details').css('display','none');
        });

        var type = "xs";

        // THIS IS NEW STUFF
        // taken from: http://stackoverflow.com/questions/25783702/bootstrap-3-how-to-determine-which-grid-option-is-currently-used
        function refreshDeviceInfo() {
            var id = 'deviceInfo',
                    widthType = 'innerWidth',
                    width;

            if (!('innerWidth' in window )) {
                widthType = 'clientWidth';
                window = document.documentElement || document.body;
            }
            width = window[widthType];

            if (width >= 1200) {
                type = "lg";
            } else if (width >= 992) {
                type = "md";
            } else if (width >= 768) {
                type = "sm";
            }
        };

        // refresh on resize
        if ( window.addEventListener ) {
            window.addEventListener( "resize", refreshDeviceInfo, false );
        } else if ( window.attachEvent ) {
            window.attachEvent( "onresize", refreshDeviceInfo );
        } else {
            window["onresize"] = refreshDeviceInfo;
        }
        document.addEventListener("DOMContentLoaded", function(event) {
            refreshDeviceInfo();
        });

        refreshDeviceInfo();

        $('body').on('click','.product-item.add',function(){

            var pos = $(this).data('position');
            var rowpos = $(this).data('position');
            var dif = 0;

            if( lastclick == $(this).data('position') ){
                $('#comic-list').slideToggle();
                if( $(this).hasClass('comic-view') ){
                    $(this).removeClass('comic-view');
                }
                else{
                    $(this).addClass('comic-view');
                }
            }
            else {
                $('.product-item').removeClass('comic-view');
                $(this).addClass('comic-view');

                $('#comic-list').slideUp().detach().remove();
                lastclick = $(this).data('position');

                if (type == 'lg') {
                    pos = pos % 6;
                    if (rowpos > 6)
                        dif = 6 - pos;
                    if (pos == 0)
                        pos = 6;
                    if (rowpos <= 6)
                        dif = 6 - rowpos;

                    if( dif == 6 ){
                        dif = 0;
                    }
                }
                else if (type == 'md') {
                    pos = pos % 4;
                    if (rowpos > 4)
                        dif = 4 - pos;
                    if (pos == 0)
                        pos = 4;
                    if (rowpos <= 4)
                        dif = 4 - rowpos;

                    if( dif == 4 ){
                        dif = 0;
                    }
                }
                else if (type == 'sm') {
                    pos = pos % 2;
                    if (rowpos > 2)
                        dif = 2 - pos;
                    if (pos == 0)
                        pos = 2;
                    if (rowpos <= 2)
                        dif = 2 - rowpos;

                    if( dif == 2 ){
                        dif = 0;
                    }
                }
                else if (type == 'xs') {
                    pos = pos % 1;
                    if (rowpos > 1)
                        dif = 1 - pos;
                    if (pos == 1)
                        pos = 1;
                    if (rowpos <= 1)
                        dif = 1 - rowpos;

                    if( dif == 1 ){
                        dif = 0;
                    }
                }

                var el = $(this);
                for (var i = 0; i < dif; i++) {
                    el = el.next();
                }

                var comiclist = '<div class="table-responsive" style="background-color:inherit;">' +
                        '<table class="table table-hover" style="color:#fff !important;">' +
                        '<thead>' +
                        '<tr>' +
                        '<th style="color:#fff;width:15%;text-align:center;">Cover Image</th>' +
                        '<th style="color:#fff;width:20%;text-align:center;">Issue</th>' +
                        '<th style="color:#fff;width:20%;text-align:center;">Date</th>' +
                        '<th style="color:#fff;width:25%;text-align:center;"></th>' +
                        '<th style="color:#fff;width:25%;text-align:center;">Select</th>' +
                        '</tr>' +
                        '</thead>' +
                        '<tbody>';

                for( var i = 0; i < 10; i++ ) {
                    comiclist += '<tr>' +
                            '<th><img class="product-image center-block" width="50" alt="product-title" src="img/inventory/test-images/batman-5.jpg" /></th>' +
                            '<th><h4 style="vertical-align: middle;" class="comic-issue product-title m-sm center-block text-center">Issue #1</h4></th>' +
                            '<th><span style="vertical-align: middle;" class="center-block comic-date text-muted text-center">November 2011</span></th>' +
                            '<th style="text-align:center;"><button style="vertical-align: middle;margin-bottom:5px;" type="button" class="btn btn-success btn-add-cart btn-labeled"><span class="btn-label"><i class="fa fa-plus-square"></i></span>Quick Add</button><br/>' +
                            '<button style="vertical-align: middle;" type="button" class="btn btn-primary btn-view-details btn-labeled"><span class="btn-label"><i class="fa fa-edit"></i></span>Add Details</button></th>' +
                            '<th syle="text-align:center;"><div style="margin-left:auto;margin-right:auto;" class="checkbox c-checkbox"><label><input type="checkbox"><span class="fa fa-check"></span></label></div></th>' +
                            '</tr>';
                }

                 comiclist += '</tbody></table></div>';

                $(el).after('<div id="comic-list" class="col-sm-12 clearfix">' + comiclist + '</div>');
                $('#comic-list').slideDown();
            }
        });

        $('.product-item-details label').click(function(e){
            e.stopImmediatePropagation();

        });
    });


                      
    function ajax_search_comics(series, publisher, min_year_began, max_year_ended, language, country)
    {
        var language_id = 1;
        var country_id = 1;
        filter_series(series, publisher, min_year_began, max_year_ended, language_id, country_id, function (json_result) {
            generate_table(json_result);
        });
        
    }

                  
    function ajax_refresh_table()
    {
        list_customers(function(json_result) {
            generate_table(json_result);
        });
    }

    function ajax_search()
    {
        var keyword = $('#id_search_keyword').val();
        search_customers(keyword, function(json_result) {
            generate_table(json_result);
        });
    }

    function generate_table(json_result)
    {
        // Debugging code
        //var json_text = JSON.stringify(json_result, null, 2);
        //var obj = JSON.parse(json_text);
        //console.log(obj)
    
        // Initial Code
        var html = '';
        html += '<div class="table-responsive" style="background-color:#fafafa;padding-left:20px;padding-right:20px;">';
        html += '<table class="table">';
        html += '<thead>';
        html += '<tr>';
        html += '<th>Series Name</th>';    // 1
        html += '<th>Publisher</th>';      // 2
        html += '<th>Date Published</th>'; // 3
        html += '<th></th>';               // 4
        html += '</tr>';
        html += '</thead>';
        html += '<tbody>';
    
        $(json_result).each(function(iter,val2){
            $(val2['results']).each(function(iter2,val){
            var series_id = val['series_id'];
            if (val['name'] != "")
            {
                // Table Row
                html += '<tr>';
                                                
                // Col 1
                html += '<td>' + val['name'] + '</td>';
                                                
                // Col 2
                html += '<td>' + val['publisher_name'] + '</td>';
                
                // Col 3
                html += '<td>' + val['publication_dates'] + '</td>';
                                                
                // Col 4
                var onclick = 'ajax_new('+series_id+');';
                var col4 = '<button class="btn btn-sm btn-labeled btn-success pull-left mb mr mt-sm" onclick="'+onclick+'">';
                col4 += '<span class="btn-label"><i class="fa fa-plus"></i></span>Add Pull List';
                col4 += '</button>';
                html += '<td style="text-align:center;">' + col4 + '</td>';
                                                
                // Close Table Row
                html += '</tr>';
            }
        });
    });
                        
    html += '</tbody></table></div>';
    $('#id_table_placeholder').html(''); // Clear Table
    $(html).appendTo('#id_table_placeholder'); // Load Table.
}
</script>